<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <img src="/src/app/iamges/user.png" class="img-responsive" alt="">
        </div>

          <h2>STUDENT</h2>


        <div class="profile-usermenu">
          <ul class="nav">
            <li>
              <a >
                <i class="glyphicon glyphicon-home"></i>
                Overview </a>
            </li>
            <li>
              <a >
                <i class="glyphicon glyphicon-user"></i>
                Account Settings </a>
            </li>
            <li>
              <a  target="_blank">
                <i class="glyphicon glyphicon-ok"></i>
                Tasks </a>
            </li>
            <li>
              <a >
                <i class="glyphicon glyphicon-flag"></i>
                Help </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

