
.profile {

  margin-left: -56.5px;
}

.profile-sidebar {
  background: #000;
  height: 630px;
  margin-left: -56.5px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

h2{
  background: black;
  color: lightgrey;
  font-family: "Times New Roman";
  text-align: center;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: lightgrey;
  font-size: 12px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  font-size: 12px;
}

.profile-usermenu ul li a:hover {
  background-color: black;
  color: red;
}

.profile-usermenu ul{
  border-bottom: none;
}

.profile-usermenu ul {
  color: lightgrey;
  background-color: black;
  border-left: 2px solid red;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  /*padding: 20px;*/
  background: #fff;
}

