<div class = "main">
  <div class = "login-html">
    <br/><br/><br/><br/>

    <a class="call_modal_faculty" (click) = "Instructor()"></a>
    <div class = "modal_faculty modal">
      <div class="modal_main_faculty">
        <div class = "inner_faculty">
          <img src="/src/app/iamges/close.png" class="closer_faculty">
          <p class = "l">UPDATE STUDENT RECORD...</p><hr/>

          <form id = "regForm">
            <table *ngFor = "let v of array">
              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatestudentusername()" [(ngModel)] = "v.username"  pattern="[A-Z a-z]*" placeholder="Enter student User Name" name = "courseno" required= required>
                  </div>
                </td>
              </tr>


              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatestudentfirstname()" [(ngModel)] = "v.firstname"  pattern="[A-Z a-z]*" placeholder="Enter student First Name" name = "teacher" required= required>
                  </div>
                </td>
              </tr>

              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatestudentlastname()" [(ngModel)] = "v.lastname"  pattern="[A-Z a-z]*" placeholder="Enter student Last Name" name = "teacher" required= required>
                  </div>
                </td>
              </tr>

              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatestudentgender()" [(ngModel)] = "v.gender"   placeholder="Enter Gender" name = "teacher" required= required>
                  </div>
                </td>
              </tr>



              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validateclassId()" pattern = "[0-9]*"[(ngModel)] = "v.classId"   placeholder="Enter Class ID" name = "teacher" required= required>
                  </div>
                </td>
              </tr>


              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatesectionname()" pattern = "[A-D]*"[(ngModel)] = "v.sectionname"   placeholder="Enter Section Name" name = "teacher" required= required>
                  </div>
                </td>
              </tr>



              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatestudentphone()" pattern = "[0-9]*"[(ngModel)] = "v.phone"   placeholder="Enter student Phone" name = "teacher" required= required>
                  </div>
                </td>
              </tr>


              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatetstudentemail()" [(ngModel)] = "v.email"   placeholder="Enter Student Email" name = "teacher" required= required>
                  </div>
                </td>
              </tr>


              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatetstudentparentemail()" [(ngModel)] = "v.parentemail"   placeholder="Enter Student's parent Email" name = "teacher" required= required>
                  </div>
                </td>
              </tr>


              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "password" class = "form-control" (input) = "validatestudentpassword()" [(ngModel)] = "v.password"   placeholder="Enter Student Password" name = "teacher" required= required>
                  </div>
                </td>
              </tr>
              <tr>
                <td class = "form-group">
                  <button type = "submit" class = "btn btn-danger"(click) ="updateCourse(v)">Update</button>
                </td>
              </tr>
              <div *ngIf ="success" class = "errormsg">INVALID ENTRY</div>
            </table>
          </form>
        </div>
      </div>
    </div>

    <table id="racetimes">
      <tr id="firstrow">
        <th>USER NAME</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>GENDER</th>
        <th>CLASS ID</th>
        <th>SECTION</th>
        <th>PHONE</th>
        <th>EMAIL</th>
        <th>PASSWORD</th>
        <th></th>
      </tr>
      <tr *ngFor = "let v of array">
        <td>{{v.username}}</td>
        <td>{{v.firstname}}</td>
        <td>{{v.lastname}}</td>
        <td>{{v.gender}}</td>
        <td>{{v.classId}}</td>
        <td>{{v.sectionname}}</td>
        <td>{{v.phone}}</td>
        <td>{{v.email}}</td>
        <td>{{v.password}}</td>
        <td><i class = "fa fa-pencil" (click) = "edit(v)"></i>
        <td><i class = "fa fa-trash" (click) = "delete(v)"></i>
      </tr>
    </table>
  </div>
</div>




