<!--<div class = "main">-->
  <!--<div class = "login-html">-->


    <!--<a class="call_modal_faculty" (click) = "Instructor()"></a>-->
    <!--<div class = "modal_faculty modal">-->
      <!--<div class="modal_main_faculty">-->
        <!--<div class = "inner_faculty">-->
          <!--<img src="/src/app/iamges/close.png" class="closer_faculty">-->

          <!--<p class = "l">VIEW CLASS WALL...</p><hr/>-->

          <!--<form id = "regiForm">-->
            <!--<table>-->
              <!--<tr>-->
                <!--<td>-->
                  <!--<div class = "form-group">-->
                    <!--<input type = "text" class = "form-control" (input) = "validatewallclassname()" [(ngModel)] = "wall.classname"  pattern="[0-9]*" placeholder="Enter Class Name" name = "classname" required= required>-->
                  <!--</div>-->
                <!--</td>-->
                <!--<td>-->
                  <!--<div *ngIf="wallclassnameinvalid" class = "glyphicon glyphicon-remove"></div>-->
                  <!--<div *ngIf="wallclassnamevalid" class = "glyphicon glyphicon-ok"></div>-->
                <!--</td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td>-->
                  <!--<div class = "form-group">-->
                    <!--<input type = "text" class = "form-control"  (input) = "validatewallsectionname()" [(ngModel)] = "wall.sectionname"  pattern="[A-D]*" placeholder="Enter Section Name[A-D]" name = "sectionname" required= required>-->
                  <!--</div>-->
                <!--</td>-->
                <!--<td>-->
                  <!--<div *ngIf="wallsectionnameinvalid" class = "glyphicon glyphicon-remove"></div>-->
                  <!--<div *ngIf="wallsectionnamevalid" class = "glyphicon glyphicon-ok"></div>-->
                <!--</td>-->
              <!--</tr>-->

              <!--<tr>-->
                <!--<td class = "form-group">-->
                  <!--<button type = "submit" id = "wall" class = "btn btn-danger" (click) ="wallClass()">VIEW CLASS WALL</button>-->
                <!--</td>-->
              <!--</tr>-->
              <!--<div *ngIf ="wallsuccess" class = "errormsg">CLASS DOES NOT EXIST</div>-->

            <!--</table>-->

            <!--<div class = "modal">-->
              <!--<div class="modal_bg close"></div>-->
              <!--<div class="modal_main">-->
                <!--<div class = "inner">-->
                  <!--<img src="/src/app/iamges/close.png" class="closer">-->
                  <!--<h1>Class Assigned To section Successfully!</h1>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<br/><br/><br/><br/>-->

    <!--<h2 *ngIf = "showmodal">ANNOUNCEMENTS</h2>-->
    <!--<div *ngIf = "showmodal">-->
      <!--<textarea class = "announcementbox" rows="5" name="comment" id="comment" placeholder="Add Announcements">-->
           <!--<button type = "submit" class = "btn btn-danger" (click)="post()">POST</button>-->

      <!--</textarea>-->
    <!--</div>-->

  <!--</div>-->

<!--</div>-->
