<div class="login-wrap">
  <div class = "front">
    <div class = "header">
      <p class = "name">OXFORD ACADEMY</p>
      <div class = "nav">
      <ul>
        <li class = "dropdown">
          <a class = "dropbtn" (click) = "reg()">REGISTRATION</a>
          <div class="dropdown-content">
            <a class="call_modal" (click) = "InstructorReg()">Instructor</a>
            <a class="call_modal" (click) = "staffReg()">Staff</a>
            <a class="call_modal" (click)="adminReg()">Admin</a>
          </div>
        </li>

          <li class = "dropdown">
          <a class = "dropbtn">LOGIN</a>
          <div class="dropdown-content">


          <a class="call_modal_faculty" (click) = "Instructor()">Instructor</a>
          <div class = "modal_faculty">
            <div class="modal_main_faculty">
            <div class = "inner_faculty">
              <img src="/src/app/iamges/close.png" class="closer_faculty">

              <p class = "l">Login as Instructor</p>
              <div class = "form-group">

                <form class = "form-horizontal">
                  <div class = "row">
                    <div class = "form-group has-feedback">
                      <div class = "col-xs-5">
                        <input type = "text"  class = "form-control" placeholder="Enter Your Name" name = "username" required = required [(ngModel)]="teacher.username">
                        <div class = "glyphicon glyphicon-lock form-control-feedback"></div>
                      </div>
                    </div>

                    <div class = "form-group has-feedback">
                      <div class = "col-xs-5">
                        <input type = "password"  class = "form-control" placeholder="Enter Password" name = "password" required = required  [(ngModel)]="teacher.password">
                        <div class = "glyphicon glyphicon-lock form-control-feedback"></div>
                        <button type = "submit" class = "btn btn-danger" name = "loginadmin" (click) = "facultylogin()">LOGIN</button>
                        <div *ngIf ="loginteachermatch" class = "errormsg">INVALID USERNAME OR PASSWORD!</div>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
          </div>
         </div>
      </div>


            <a class="call_modal_staff" (click) = "staff()">Staff</a>
            <div class = "modal_staff">
              <div class="modal_main_staff">
                <div class = "inner_staff">
                  <img src="/src/app/iamges/close.png" class="closer_staff">

                  <p class = "l_staff">Login as Staff...</p>
                  <div class = "form-group">

                    <form class = "form-horizontal">
                      <div class = "row">
                        <div class = "form-group has-feedback">
                          <div class = "col-xs-5">
                            <input type = "text"  class = "form-control" placeholder="Enter Your Name" name = "username" required = required [(ngModel)]="staffusername">
                            <div class = "glyphicon glyphicon-lock form-control-feedback"></div>
                          </div>
                        </div>

                        <div class = "form-group has-feedback">
                          <div class = "col-xs-5">
                            <input type = "password"  class = "form-control" placeholder="Enter Password" name = "password" required = required  [(ngModel)]="staffpassword">
                            <div class = "glyphicon glyphicon-lock form-control-feedback"></div>
                            <button type = "submit" class = "btn btn-danger" id="loginstaff" (click) = "stafflogin()">LOGIN</button>
                            <div *ngIf ="loginmatch" class = "errormsg">INVALID USERNAME OR PASSWORD!</div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              </div>


            <a class="call_modal" (click) = "admin()">Admin</a>
            <div class = "modal">
              <div class="modal_main">
                <div class = "inner">
                  <img src="/src/app/iamges/close.png" class="closer">

                  <p class = "l">Login as Admin...</p>
                  <div class = "form-group">

                    <form class = "form-horizontal">
                      <div class = "row">
                        <div class = "form-group has-feedback">
                          <div class = "col-xs-5">
                            <input type = "text"  class = "form-control" placeholder="Enter Your Name" name = "username" required = required [(ngModel)]="Admin.username">
                            <div class = "glyphicon glyphicon-lock form-control-feedback"></div>
                          </div>
                        </div>

                        <div class = "form-group has-feedback">
                          <div class = "col-xs-5">
                            <input type = "password"  class = "form-control" placeholder="Enter Password" name = "password" required = required  [(ngModel)]="Admin.password">
                            <div class = "glyphicon glyphicon-lock form-control-feedback"></div>
                            <button type = "submit" class = "btn btn-danger" name="loginadmin" (click) = "postAdminLogin()">LOGIN</button>
                            <div *ngIf ="loginmatch" class = "errormsg">INVALID USERNAME OR PASSWORD!</div>
                           </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>


            <a class="call_modal_student" (click) = "std()">Student</a>
            <div class = "modal_student">
              <div class="modal_main_student">
                <div class = "inner_student">
                  <img src="/src/app/iamges/close.png" class="closer_student">

                  <p class = "l_student">Login as Student...</p>
                  <div class = "form-group">

                    <form class = "form-horizontal">
                      <div class = "row">
                        <div class = "form-group has-feedback">
                          <div class = "col-xs-5">
                            <input type = "text"  class = "form-control" placeholder="Enter Your Name" name = "username" required = required [(ngModel)]="student.username">
                            <div class = "glyphicon glyphicon-lock form-control-feedback"></div>
                          </div>
                        </div>

                        <div class = "form-group has-feedback">
                          <div class = "col-xs-5">
                            <input type = "password"  class = "form-control" placeholder="Enter Password" name = "password" required = required  [(ngModel)]="student.password">
                            <div class = "glyphicon glyphicon-lock form-control-feedback"></div>
                            <button type = "submit" class = "btn btn-danger" name="loginstudent" (click) = "studentlogin()">LOGIN</button>
                            <div *ngIf ="loginStudentmatch" class = "errormsg">INVALID USERNAME OR PASSWORD!</div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </li>
      </ul>
      </div>
      <p class = " welcome">WELCOME</p>
      <br/><br/><br/><br/>
    </div>
    <div class="login-html">
    </div>
  </div>
</div>




<app-footer></app-footer>

