div.main{

  background-image: url("/src/app/iamges/b.jpg");
  width: 100%;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.9);
}

.login-html{
  width:100%;
  height:628px;
  /*padding:420px 70px 50px 70px;*/
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background: rgba(000000000, 0000000000, 000000,0.7);

}

.datesheet{
  font-size: 40px;
  font-family: "Times New Roman";
  color: lightgrey;
  margin-left: 5%;
}


.row{
  margin-left: 50px;
  margin-top: 50px;
  width: 990px;
}


p.l{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}

div.errormsg{
  width: 100%;
  color: red;
  margin-left : 65%;
  margin-top: -3%;
}

div.terrormsg{
  width: 100%;
  color: red;
  margin-left : 65%;
  margin-top: 2%;
}

.glyphicon-remove{
  color: red;
  margin-left: 150px;
  margin-top:2%
}

.glyphicon-ok{
  color: lawngreen;
  margin-left: 150px;
  margin-top:2%
}


.form-group{
  font-size: 20px;
  font-family: "Times New Roman";
}

input[type=text]{
  background: transparent;
  background: rgba(000000000, 0000000000, 000000,0.7);
  box-shadow: #f1f1f1;
  font-family: "Times New Roman";
  font-size: 18px;
  color: darkgray;
  margin-left: 25%;
  margin-top:20px;
  width: 180%;
}

input[type=date]{
  background: transparent;
  background: rgba(000000000, 0000000000, 000000,0.7);
  box-shadow: #f1f1f1;
  font-family: "Times New Roman";
  font-size: 18px;
  color: darkgray;
  margin-left: 25%;
  margin-top:20px;
  width: 180%;
}

button[id = 'reg']{
  margin-left: 65%;
  color: red;
  background-color: black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 1.4s;
  cursor: hand;
  height: 40px;
  width: 150px;
  font-size: 18px;
  margin-top: 10px;
}


select[id=select_class]{
  margin-top: 8%;
  height: 30%;
  margin-left: 25%;
  text-align: center;
  width: 180%;
  background: transparent;
  background: rgba(000000000, 0000000000, 000000,0.7);
  box-shadow: #f1f1f1;
  font-family: "Times New Roman";
  font-size: 18px;
  color: darkgray;

}

.invigilator{
  margin-left: 25%;
  font-family: "Times New Roman";
  font-size: 20px;
  color: lightgrey;
  margin-top: 8%;
}


.btn-danger{
  width:80%;
  margin-left:20%;
  margin-top: 2%;
}

.btn-warning{
  width: 80%;
  margin-left:25%;
  margin-top: 2%;
}


p.view_para{
  color: lightgrey;
  font-family: "Times New Roman";
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 50%;
  margin-top:15%;
}


p.add_para{
  color: lightgrey;
  font-family: "Times New Roman";
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 26%;
  margin-top:10%;
}


p.assign_para{
  color: lightgrey;
  font-family: "Times New Roman";
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: -10%;
  margin-top:15%;
}

.fa-eye{
  color: lightgrey;
}

.fa-plus{
  color: lightgrey;
}

.fa-user-secret{
  color:lightgrey;
}

.add{
  height: 0%;
  margin-left: 45%;
  cursor: pointer;
  width: 45%;
  margin-top:10%;
}

.view{
  height: 0%;
  margin-left: -20%;
  cursor: pointer;
  width: 45%;
  margin-top:15%;
}

.assign{
  height: 0%;
  margin-left: 22%;
  cursor: pointer;
  width: 45%;
  margin-top:17%;
}



.modal_invoice{
  background: rgba(0,0,0,0.7  );

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_invoice{
  background: rgba(0,0,0,0.7  );
  width: 230%;
  height: 230%;
  position: fixed;
  top: 0;
}

.modal_main_invoice{

  position: fixed;
  width: 118%;
  height: 90%;
  top: 8%;
  left: 4%;
  z-index: 2;
}


.head_invoice{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_invoice{
  height: 100%;
  width: 80%;
  border-style: solid;
  background: white;
}


.closer_invoice{
  position: absolute;
  top: -2%;
  margin-left: 79%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}

.p_invoice{
  color: black;
  letter-spacing: 3px;
  font-family: "Times New Roman";
  font-size: 20px;
  margin-left: 5%;
  margin-top:3%;
}

.p_name{
  color: black;
  letter-spacing: 3px;
  font-family: "Times New Roman";
  font-size: 30px;
  margin-left: 5%;

}

.head{
  outline: black;
  heigth: 7%;
  width: 450%;
  margin-left: 35%;
  background-color: lightgrey;
  color: black;
  margin-top: 20%;
}

.date{
  margin-left: 60%;
  width: 100%;
  font-size: 16px;
  font-family: "Times New Roman";
}

h2{
  margin-top: -3%;
}

table[id=datatable]{
  margin-left: -10%;
  margin-top: -3%;
}

h3{
  margin-left: -10%;
  margin-top: -5%;
}

.note{
  margin-left: -10%;
}

.timing{
  margin-left: -10%;
}

.h4{
  margin-left: 70%;
  text-transform: uppercase;
}

.det{
  margin-top: 5%;
}

.modal_inv{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_inv{

  background: rgba(0,0,0,0.7  );
  width: 230%;
  height: 230%;
  position: fixed;
  top: 0;
}

.modal_main_inv{

  position: fixed;
  width: 118%;
  height: 90%;
  top: 8%;
  left: 4%;
  z-index: 2;
}


.head_inv{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_inv{
  height: 100%;
  width: 80%;
  border-style: solid;
  background: white;
}


.closer_inv{
  position: absolute;
  top: -2%;
  margin-left: 79%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}

.p_inv{
  color: black;
  letter-spacing: 3px;
  font-family: "Times New Roman";
  font-size: 20px;
  margin-left: 5%;
  margin-top:3%;
}



button[id='ok']{
  margin-left:25%;
  width: 50%;
  margin-top:3%;

}

.modal_invalid{
  margin-left:-20%;
  background: rgba(000000000, 0000000000, 000000,0.5);
  width: 150%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_invalid{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_invalid{
  position: fixed;
  width: 50%;
  height:43%;
  top: 40%;
  left: 360px;
  z-index: 2;
}

.head_invalid{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_invalid{
  /*background:transparent;*/
  height: 63%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_invalid{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}

td[id='clas']{
  margin-left: 50%;
}
