<div class = "main">
  <div class = "login-html">
  <p class = "datesheet">DATE SHEET</p>

    <form id = "regForm">
      <table>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "date" class = "form-control" (input)="validateDate()" [(ngModel)] = "datesheet.date"  placeholder="Enter Examination Date" name = "date" required= required id = "date">
            </div>
          </td>
        </tr>


        <tr>
          <div *ngIf ="dateinvalid" class = "terrormsg">PLEASE MENTION THE DATE!</div>
        </tr>


        <tr>

          <select class = "form-control"  (click)="validateClass()" id= "select_class" [(ngModel)] = "datesheet.classname" name = "classname" required="required">
              <option value = "" >Select Class</option>
              <option value = "1" >CLASS I</option>
              <option value = "2">CLASS II</option>
              <option value = "3">CLASS III</option>
              <option value = "4">CLASS IV</option>
              <option value = "5">CLASS V</option>
              <option value = "6">CLASS VI</option>
              <option value = "7">CLASS VII</option>
              <option value = "8">CLASS VIII</option>
              <option value = "9">CLASS IX</option>
              <option value = "10">CLASS X</option>
          </select>
        </tr>


        <tr>
          <div *ngIf ="classinvalid" class = "terrormsg">Please Select Class!</div>
        </tr>


        <tr>
          <input type = "text" class = "form-control" (change) = "validateTname()" [(ngModel)] = "datesheet.tname"  placeholder="Enter Teacher's Name" name = "tname" required= required id = "tname">
        </tr>

        <tr>
          <div *ngIf ="tnameinvalid" class = "terrormsg">TEACHER DOES NOT EXIST!</div>
        </tr>

        <tr>
          <input type = "text" class = "form-control" (change) = "validateSub()" [(ngModel)] = "datesheet.subject"  placeholder="Enter Subject" name = "subject" required= required id = "subject">
        </tr>


        <tr>
          <div *ngIf ="subjectinvalid" class = "terrormsg">TEACHER NOT ASSIGNED TO THIS COURSE!</div>
        </tr>

        <tr>

          <td>
          <div class = "add">
          <title>Add Date Sheet</title>
          <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x icon-background4"></i>
          <i class="fa fa-plus fa-stack-1x" (click) = "add()"></i>
          </span></div></td>

          <td>
          <div class = "view">
            <title>View Date Sheet</title>
          <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x icon-background4"></i>
          <i class="fa fa-eye fa-stack-1x" (click) = "view()"></i>
          </span></div>
          </td>

        </tr>
      </table>
    </form>

          <a class="call_modal_invoice" (click) = "Instructor()"></a>
          <div class = "modal_invoice">
            <div class="modal_main_invoice">
              <div class = "inner_invoice">
                <img src="/src/app/iamges/close.png" class="closer_invoice">

                <body>
                <div class="container">
                  <div class="row">
                    <h2 class="text-center">TIME TABLE FOR EXAMINATION</h2>
                  </div>

                  <div class="row">
                      <table id="datatable" cellspacing="0" width="100%">
                        <tr><button type = "submit" class = "form-control btn-danger" (click)="one()">CLASS ONE</button></tr>
                        <tr><button type = "submit" class = "form-control btn-warning" (click)="two()">CLASS TWO</button></tr>
                        <tr><button type = "submit" class = "form-control btn-danger" (click)="three()">CLASS THREE</button></tr>
                        <tr><button type = "submit" class = "form-control btn-warning" (click)="four()">CLASS FOUR</button></tr>
                        <tr><button type = "submit" class = "form-control btn-danger" (click)="five()">CLASS FIVE</button></tr>
                        <tr><button type = "submit" class = "form-control btn-warning" (click)="six()">CLASS SIX</button></tr>
                        <tr><button type = "submit" class = "form-control btn-danger" (click)="seven()">CLASS SEVEN</button></tr>
                        <tr><button type = "submit" class = "form-control btn-warning" (click)="eight()">CLASS EIGHT</button></tr>
                        <tr><button type = "submit" class = "form-control btn-danger" (click)="nine()">CLASS NINE</button></tr>
                        <tr><button type = "submit" class = "form-control btn-warning" (click)="matric()">CLASS MATRIC</button></tr>
                      </table>
                      <p class = "note">-Any Exam Posponed Will Be Taken At The End. The New Dates Will Be Announced By The Administration</p>
                      <p class ="timing">-The Timings Of Primary Examination Will be from 09:00AM To 12:00PM. The Timings Of Secondary Examination Will be From 02:00PM to 05:00PM</p>

                  </div>
                </div>
                </body>
              </div>
            </div>
          </div>




    <a class="call_modal_invalid" (click) = "Instructor()"></a>
    <div class = "modal_invalid">
      <div class="modal_main_invalid">
        <div class = "inner_invalid">
          <p class = "l_invalid">SORRY...FOLLOWING ENTRY ALREADY EXISTS!</p><hr/>
          <button type = "submit" id = "ok" class = "btn btn-warning" (click)="ok()">OK</button>
        </div>
      </div>
    </div>



  </div>
</div>



