<div class = "main">
  <div class = "login-html">
    <form id = "regForm">
      <table>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "text" class = "form-control" (input)="validateusername()" [(ngModel)]="instructor.username" pattern="[a-z A-Z]*" placeholder="Enter User Name" name = "username" required = required id = "username">
            </div>
          </td>
          <td>
            <div *ngIf="usernameinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="usernamevalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>


        <tr>
          <td>
            <div class = "form-group">
              <input type = "text" class = "form-control" (input)="validatename()" [(ngModel)]="instructor.firstname" pattern="[a-z A-Z]*" placeholder="Enter First Name" name = "firstname" required = required id = "firstname">
            </div>
          </td>
          <td>
            <div *ngIf="nameinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="namevalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "text" class = "form-control" (input) = "validatelname()" [(ngModel)] = "instructor.lastname"  pattern="[a-z A-Z]*" placeholder="Enter Last Name" name = "lastname" required= required id = "lastname">
            </div>
          </td>
          <td>
            <div *ngIf="lnameinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="lnamevalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>

        <tr>
          <div class = "form-group">
            <input type = "radio"  [(ngModel)]="instructor.gender" name = "gender" value = "Male"  id = "male" checked = checked>Male
            <input type = "radio"  [(ngModel)]="instructor.gender" name = "gender" value = "Female" id = "female">Female</div>
        </tr>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "text" class = "form-control" (input)="validateID()" [(ngModel)] = "instructor.classid" id = "classid" name="classid" placeholder="Enter Class ID" required= required></div>
          </td>

          <td>
            <div *ngIf="classidinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="classidvalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "text" class = "form-control" (input) = "validateSec()" [(ngModel)] = "instructor.sec"  pattern="[a-z A-Z]*" placeholder="Enter Sec" name = "sec" required= required id = "sec">
            </div>
          </td>
          <td>
            <div *ngIf="secinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="secvalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>


        <tr>
          <td>
            <div class = "form-group">
              <input type = "text" class = "form-control" (input)="validatephone()" [(ngModel)] = "instructor.phone" id = "phoneadd" name="phoneadd" placeholder="Enter Phone#" pattern = "[0-9]*"required= required></div>
          </td>
          <td>
            <div *ngIf="phoneinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="phonevalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "text"  class = "form-control" (input)="validateemail()" [(ngModel)] = "instructor.email" id = "emailadd" name="emailadd" placeholder="Enter Email"pattern = "[A-z A-Z]*[0-9]*@[a-z A-Z]*[.][a-z A-Z]{2,3}"required= required></div>
          </td>
          <td>
            <div *ngIf="emailinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="emailvalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>


        <tr>
          <td>
            <div class = "form-group">
              <input type = "text"  class = "form-control" (input)="validateparentemail()" [(ngModel)] = "instructor.parentemail" id = "parentemailadd" name="parentemailadd" placeholder="Enter Parent Email"pattern = "[A-z A-Z]*[0-9]*@[a-z A-Z]*[.][a-z A-Z]{2,3}"required= required></div>
          </td>
          <td>
            <div *ngIf="parentemailinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="parentemailvalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>



        <tr>
          <td>
            <div class = "form-group">
              <input type = "password"  class = "form-control"  (input)= "validatepassword()" [(ngModel)] = "instructor.password" id = "passadd" placeholder="Enter Password" name="passadd" required= required></div>
          </td>
          <td>
            <div *ngIf="passinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="passvalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>
        <tr>
          <div *ngIf ="passlen" class = "errormsg">Must have atleast 8 characters</div>
        </tr>
        <tr><button type = "submit" class = "call_modal" id = "reg" (click)="create()">Create account</button></tr>


        <a class="call_modal" (click) = "Instructor()"></a>
        <div class = "modal">
          <div class="modal_main">
            <div class = "inner">
              <img src="/src/app/iamges/close.png" class="closer" click="clear()">
              <h1>Registration Successful!</h1>
              <p class = "wait">Congratulations A New Member Has Been Added To The Oxford Academy!</p>
            </div>
          </div>
        </div>


        <a class="call_modal_invalid" (click) = "Instructor()"></a>
        <div class = "modal_invalid">
          <div class="modal_main_invalid">
            <div class = "inner_invalid">
              <p class = "l_invalid">PLEASE MAKE SURE ALL FIELDS ARE VALID!</p><hr/>
              <button type = "submit"class = "btn btn-warning" (click)="cancel()">OK</button>
            </div>
          </div>
        </div>


      </table>
    </form>
  </div>
</div>
