<div class = "main">
  <div class = "login-html">
  <br/><br/><br/><br/>

    <a class="call_modal_faculty" (click) = "Instructor()"></a>
    <div class = "modal_faculty modal">
      <div class="modal_main_faculty">
        <div class = "inner_faculty">
          <img src="/src/app/iamges/close.png" class="closer_faculty">
          <p class = "l">ADD CLASS...</p><hr/>

          <form id = "regForm">
            <table *ngFor = "let v of array">
              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatecourseno()" [(ngModel)] = "v.courseno"  pattern="[0-9]*" placeholder="Enter Course Number" name = "courseno" required= required>
                 </div>
                </td>
                <td>
                  <div *ngIf="coursenoinvalid" class = "glyphicon glyphicon-remove"></div>
                  <div *ngIf="coursenovalid" class = "glyphicon glyphicon-ok"></div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatecoursename()" [(ngModel)] = "v.coursename" pattern="[A-Z a-z]*" placeholder="Enter Course Name" name = "coursename" required= required>
                  </div>
                </td>
                <td>
                  <div *ngIf="coursenameinvalid" class = "glyphicon glyphicon-remove"></div>
                  <div *ngIf="coursenamevalid" class = "glyphicon glyphicon-ok"></div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatecredithours()" [(ngModel)] = "v.credithours"  pattern="[0-9]*" placeholder="Enter Credit Hours" name = "credithours" required= required>
                  </div>
                </td>
                <td>
                  <div *ngIf="credithoursinvalid" class = "glyphicon glyphicon-remove"></div>
                  <div *ngIf="credithoursvalid" class = "glyphicon glyphicon-ok"></div>
                </td>
              </tr>

              <tr>
                <td class = "form-group">
                  <button type = "submit" class = "btn btn-danger"(click) ="updateCourse(v)">Update</button>
                </td>
              </tr>
              <div *ngIf ="success" class = "errormsg">INVALID ENTRY</div>
            </table>
          </form>
        </div>
      </div>
    </div>




     <table id="racetimes">
      <tr id="firstrow">
        <th>COURSE NUMBER</th>
        <th>COURSE NAME</th>
        <th>CREDIT HOURS</th>
        <th></th>
      </tr>

      <tr *ngFor = "let v of array">
        <td>{{v.courseno}}</td>
        <td>{{v.coursename}}</td>
        <td>{{v.credithours}}</td>
        <td><i class = "fa fa-pencil" (click) = "edit(v)"></i>
        <td><i class = "fa fa-trash" (click) = "delete(v)"></i>
    </tr>
     </table>
  </div>
</div>
