<nav>
  <div class = "search">
    <div class = "height"></div>
    <div class = "glyphicon glyphicon-user container" title = "Profile">
      <a href = "home" class = "notifify">STUDENT DASHBOARD</a>
    </div>
  </div>
</nav>

