header,nav
{
  display: block;
}

nav, footer
{
  /*clear: both;*/
  color: #ffffff;
  background-color: black;
  height: 50px;
  width:100%;
}

.notification{
  width: 2%;
  height:20px;
  border-radius: 5px;
  background-color: red;
  color: white;
  text-align: center;
  margin-top:-14px;
  margin-left: 37%;
}

a{
  color: lightgrey;
  letter-spacing: 3px;
  margin-left: 48%;
  margin-top: 5%;
  font-size: 18px;
}
