<div class = "main">
<div class = "login-html">

<a class="call_modal_faculty" (click) = "Instructor()"></a>
<div class = "modal_faculty">
<div class="modal_main_faculty">
<div class = "inner_faculty">
<img src="/src/app/iamges/close.png" class="closer_faculty">

<p class = "l">ADD COURSES...</p><hr/>

  <form id = "regForm">
    <table>
      <tr>
        <td>
          <div class = "form-group">
            <input type = "text" class = "form-control" (input)="validatecourseno()" [(ngModel)]="addcourse.courseno" pattern="[0-9]*" placeholder="Enter Course No" name = "coursename" required = required id = "courseno">
          </div>
        </td>
        <td>
          <div *ngIf="coursenoinvalid" class = "glyphicon glyphicon-remove"></div>
          <div *ngIf="coursenovalid" class = "glyphicon glyphicon-ok"></div>
        </td>
      </tr>

      <tr>
        <td>
          <div class = "form-group">
            <input type = "text" class = "form-control" (input) = "validatecoursename()" [(ngModel)] = "addcourse.coursename"  pattern="[a-z A-Z]*" placeholder="Enter Course Name" name = "coursename" required= required id = "coursename">
          </div>
        </td>
        <td>
          <div *ngIf="coursenameinvalid" class = "glyphicon glyphicon-remove"></div>
          <div *ngIf="coursenamevalid" class = "glyphicon glyphicon-ok"></div>
        </td>
      </tr>


      <tr>
        <td>
          <div class = "form-group">
            <input type = "text" class = "form-control" (input)="validatecredithours()" [(ngModel)] = "addcourse.credithours" id = "credithours" name="credithours" placeholder="Enter Credit Hours" pattern = "[0-9]*"required= required></div>
        </td>
        <td>
          <div *ngIf="credithoursinvalid" class = "glyphicon glyphicon-remove"></div>
          <div *ngIf="credithoursvalid" class = "glyphicon glyphicon-ok"></div>
        </td>
      </tr>

      <tr>
        <td class = "form-group">
          <button type = "submit" class = "form-control" id = "reg" (click) ="addCourses()">Add Course</button>
        </td>
      </tr>


      <div *ngIf ="success" class = "errormsg">INVALID ENTRY</div>

    </table>

    <div class = "modal">
      <div class="modal_bg close"></div>
      <div class="modal_main">
        <div class = "inner">
          <img src="/src/app/iamges/close.png" class="closer">
          <h1>Course Added Successfully!</h1>
        </div>
      </div>
    </div>

  </form>
</div>
</div>
</div>
</div>
</div>
