<h2>VIEWING RESULT OF {{this.classname}}-{{this.sectionname}}</h2>
<h2>{{this.subjectname}}</h2>

<div class="container mytable">
  <div class="row">
    <div class="col-xs-10">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <caption class="text-center">Click On View To View Results Of the Respective Class</caption>
          <thead>
          <tr class = "firstrow">
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>MARKS</th>
            <th>GRADE</th>
            <th>DELETE</th>
            <th>EDIT</th>
            <th>APPROVE</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor = "let a of array">
            <td>{{a.firstname}}</td>
            <td>{{a.lastname}}</td>
            <td>{{a.marks}}</td>
            <td>{{a.grade}}</td>
            <td><i class="fa fa-trash fa-stack-2x" (click)="delete(a)"></i></td>
            <td><i class="fa fa-pencil fa-stack-2x" (click)="edit(a)"></i></td>
            <td><i class="fa fa-check" (click) = "approve(a)"></i></td>
          </tr>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>


<a class="call_modal_faculty" (click) = "Instructor()"></a>
<div class = "modal_faculty">
<div class = "modal_faculty modal">
  <div class="modal_main_faculty">
    <div class = "inner_faculty">
      <img src="/src/app/iamges/close.png" class="closer_faculty">
      <p class = "l">EDIT STUDENT RECORD...</p><hr/>


      <div class = "form-group">
        <input type = "text" class = "form-control" (change)="validateMarks(editres.marks)" [(ngModel)]="editres.marks"  pattern="[0-9]*" placeholder="Enter Marks" name = "marks" required= required pattern="[0-9]*">
      </div>

      <div class = "form-group">
        <input type = "text" class = "form-control" (change)="validateGrade(editres.marks,editres.grade)" [(ngModel)] = "editres.grade"  placeholder="Enter Grade" name = "grade" required= required >

      </div>
      <div class = "form-group">
        <button type = "submit" class = "btn btn-danger" (click)="update(editres)">EDIT RECORD</button>
      </div>
    </div>
  </div>
</div>

</div>


<a class="call_modal_delete" (click) = "Instructor()"></a>
<div class = "modal_delete">
  <div class="modal_main_delete">
    <div class = "inner_delete">
      <img src="/src/app/iamges/close.png" class="closer_delete">
      <h3>Are You Sure You Want To</h3>
      <h2 class="delete">EDIT?</h2>
      <button type = "submit" id = "yes" class = "btn btn-blue" (click) = "yes()">YES</button>
      <button type = "submit" id = "no" class = "btn btn-red" (click) = "no()">NO</button>
    </div>
  </div>
</div>


<a class="call_modal_approve" (click) = "Instructor()"></a>
<div class = "modal_approve">
  <div class="modal_main_approve">
    <div class = "inner_approve">
      <img src="/src/app/iamges/close.png" class="closer_approve">
      <h3>Are You Sure You Want To</h3>
      <h2 class="delete">APPROVE?</h2>
      <button type = "submit"  class = "btn btn-blue" (click) = "yesApprove()">YES</button>
      <button type = "submit"  class = "btn btn-red" (click) = "noApprove()">NO</button>
    </div>
  </div>
</div>



