<div class = "main">
  <div class = "login-html">

    <a class="call_modal_faculty" (click) = "Instructor()"></a>
    <div class = "modal_faculty">
      <div class="modal_main_faculty">
        <div class = "inner_faculty">


          <div class = "add">
          <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x icon-background4"></i>
          <i class="fa fa-plus fa-stack-1x" (click)="addRecord()"></i><br/>
          </span>
            <p class = "add_para">ADD RECORD</p></div>


          <div class = "view">
          <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x icon-background4"></i>
          <i class="fa fa-eye fa-stack-1x" (click)="viewRecord()"></i>
          </span>
            <p class = "view_para">VIEW RECORD</p></div>

        </div>
      </div>
    </div>

    <div *ngIf = "add">
      <form id = "regForm">
        <table id = "feestable">
          <tr>
            <td>
              <div class = "form-group">
                <input type = "text" class = "form-control" (input)="validateAccountno()" [(ngModel)]="addrecord.accountno" pattern="[0-9]*" placeholder="Enter Student's Account Number" name = "accountno" required = required id = "accountnum">
              </div>
            </td>
            <td>
              <div *ngIf="accountnoinvalid" class = "glyphicon glyphicon-remove"></div>
              <div *ngIf="accountnovalid" class = "glyphicon glyphicon-ok"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class = "form-group">
                <input type = "text" class = "form-control" (input)="validatename()" [(ngModel)]="addrecord.firstname" pattern="[a-z A-Z]*" placeholder="Enter Student's Name" name = "firstname" required = required id = "firstname">
              </div>
            </td>
            <td>
              <div *ngIf="firstnameinvalid" class = "glyphicon glyphicon-remove"></div>
              <div *ngIf="firstnamevalid" class = "glyphicon glyphicon-ok"></div>
            </td>
          </tr>


          <tr>
            <td>
              <div class = "form-group">
                <input type = "text" class = "form-control" (input) = "validatelname()" [(ngModel)] = "addrecord.lastname"  pattern="[a-z A-Z]*" placeholder="Enter Last Name" name = "lastname" required= required id = "lastname">
              </div>
            </td>
            <td>
              <div *ngIf="lastnameinvalid" class = "glyphicon glyphicon-remove"></div>
              <div *ngIf="lastnamevalid" class = "glyphicon glyphicon-ok"></div>
            </td>
          </tr>
          <tr>
            <div *ngIf="this.alreadyexist" class = "errormsg">Name Already Exist!</div>
          </tr>

          <tr>
            <div *ngIf="this.notalreadyexist" class = "okmsg">Valid Name</div>
          </tr>


          <tr>
            <td>
              <div class = "form-group">
                <p class = "duedate">ENTER DUE DATE</p>
                <input type = "date" class = "form-control" [(ngModel)] = "addrecord.duedate" id = "duedate" name="duedateadd" placeholder="Enter Due Date" required= required> </div>
            </td>
          </tr>



          <tr>
            <td>
              <div class = "form-group">
                <p class = "duedate">ENTER DATE FEES IS RECIEVED</p>
                <input type = "date" class = "form-control" (input)="validateDate()" [(ngModel)] = "addrecord.dateamountrecieved" id = "dateamountrecieved" name="dateamountrecieved" placeholder="Enter Amount To Be Paid" pattern = "[0-9]*"required= required></div>
            </td>
          </tr>

          <tr>
            <div *ngIf="this.fined" class = "errormsg">FEES SUBMITTED AFTER DUE DATE!..500 FINE IMPOSED</div>
          </tr>

          <tr>
            <div *ngIf="this.notfined" class = "okmsg">FEES SUBMITTED WITHIN DUEDATE!</div>
          </tr>


          <tr>
            <td>
              <div class = "form-group">
                <input type = "text" class = "form-control" [(ngModel)] = "addrecord.amountpaid" id = "amountpaid" name="amountpaid" placeholder="Enter Amount To Be Paid" pattern = "[0-9]*"required= required></div>
            </td>
            <td>
              <p class = "misc">
              <span class="fa-stack fa-1x">
              <i class="fa fa-circle fa-stack-2x icon-background4"></i>
              <i class="fa fa-plus fa-stack-1x" (click)="addmisc()"></i><br/>
              </span>
              </p>
            </td>
          </tr>


          <a class="call_modal_misc" (click) = "Instructor()"></a>
          <div class = "modal_misc">
            <div class="modal_main_misc">
              <div class = "inner_misc">
                <img src="/src/app/iamges/close.png" class="closer_misc">

                <h2>ADD MISC CHARGES...</h2><hr/>
                <h2>Annual Event </h2>
                <input type = "text" class = "form-control" [(ngModel)] = "addrecord.annualmisc" name = "annualmisc" id = "annual" placeholder = "Enter annual charges" pattern ="[0-9]*" >

                <h2>Millad Funds</h2>
                <input type = "text" class = "form-control" [(ngModel)] = "addrecord.milladmisc" name = "milladmisc" id = "millad" placeholder = "Enter Millad Funds" pattern ="[0-9]*" >

                <h2>Health Care Fees</h2>
                <input type = "text" class = "form-control" [(ngModel)] = "addrecord.healthcaremisc" name = "healthcaremisc" id = "healthcare" placeholder = "Enter Health Care Fees" pattern ="[0-9]*" >

                <button type = "submit" class="btn btn-danger" (click) = "addMiscCharges(addrecord.amountpaid)" id = "misc">Add Charges</button>
              </div>
            </div>
          </div>


          <tr>
            <td>
              <div class = "form-group">
                <input type = "text" class = "form-control" (input) = "compare()" [(ngModel)] = "addrecord.amountrecieved" id = "amountrecieved" name="amountrecieved" placeholder="Enter Amount Recieved" pattern = "[0-9]*"></div>
            </td>
          </tr>

          <tr><button type = "submit" class = "btn-warning" id = "reg" (click)="create();">Add Account</button></tr>


        </table>
      </form>
    </div>

    <div *ngIf = "view" class = "container viewt">

      <table id="viewtable">
        <tr id="firstrow" class = "color">
          <th class = "color">ACCOUNT NO</th>
          <th class = "color">FIRST NAME</th>
          <th class = "color">LAST NAME</th>
          <th class = "color">DUE DATE</th>
          <th class = "color">AMOUNT PAID</th>
          <th class = "color">ANNUAL MISC</th>
          <th class = "color">MILLAD MISC</th>
          <th class = "color">HEALTHCARE MISC</th>
          <th class = "color">DATE REC.</th>
          <th class = "color">RECIEVED</th>
        </tr>

        <tr *ngFor="let v of array" class = "color">
          <td id = "acc" class = "color">{{v.accountno}}</td>
          <td class = "color">{{v.firstname}}</td>
          <td class = "color"> {{v.lastname}}</td>
          <td class = "color">{{v.duedate}}</td>
          <td class = "color">{{v.amountpaid}} </td>
          <td class = "color"> {{v.annualmisc}} </td>
          <td class = "color"> {{v.milladmisc}}</td>
          <td class = "color"> {{v.healthcaremisc}} </td>
          <td class = "color">{{v.dateamountrecieved}}</td>
          <td class = "color">{{v.amountrecieved}}</td>
          <td class = "color"><i class = "fa fa-pencil" (click) = "edited(v)"></i></td>
          <td class = "color"><i class = "fa fa-trash" (click)="deleted(v)"></i></td>
          <td class = "color"><i class = "fa fa-envelope-open-o" (click) = "invoice(v)"></i></td>
        </tr>

        <a class="call_modal_delete" (click) = "Instructor()"></a>
        <div class = "modal_delete">
          <div class="modal_main_delete">
            <div class = "inner_delete">
              <img src="/src/app/iamges/close.png" class="closer_delete">
              <h3>Are You Sure You Want To</h3>
              <h2 class="delete">Delete?</h2>
              <button type = "submit" id = "yes" class = "btn btn-blue" (click) = "yes(addrecord)">YES</button>
              <button type = "submit" id = "no" class = "btn btn-red" (click) = "no()">NO</button>
            </div>
          </div>
        </div>
      </table>


      <a class="call_modal_edit" (click) = "Instructor()"></a>
      <div class = "modal_edit">
        <div class="modal_main_edit">
          <div class = "inner_edit">
            <img src="/src/app/iamges/close.png" class="closer_edit">

            <table id = "edit">
              <tr class = "color">
                <td class = "color">
                  <input type = "text" class = "form-control" [(ngModel)]="addrecord.accountno" placeholder="Edit Account No" id = "accountno" name = "accountno" required = required>
                </td>
              </tr>


              <tr class = "color">
                <td class = "color">
                  <input type = "text"  class = "form-control" [(ngModel)]="addrecord.firstname" placeholder="Edit First Name"  id = "fn" name = "firstname" required = required>
                </td>
              </tr>

              <tr class = "color">
                <td class = "color">
                  <input type = "text"  class = "form-control" [(ngModel)]="addrecord.lastname" placeholder="Edit Last Name "  name = "lastname" required = required id = "ln">
                </td>
              </tr>



              <tr class = "color">
                <td class = "color">
                  <input type = "text"  class = "form-control" [(ngModel)]="addrecord.duedate" placeholder="Edit Due Date" id = "duedat" name = "duedate" required = required>
                </td>
              </tr>

              <tr class = "color">
                <td class = "color">
                  <input type = "text"  class = "form-control" (input) = "validateDate()" [(ngModel)]="addrecord.dateamountrecieved" placeholder="Edit Recieving Date" id = "rdate" name = "rdate" required = required>
                </td>
              </tr>


              <tr class = "color">
                <td class = "color"><input type = "text"  class = "form-control" [(ngModel)]="addrecord.annualmisc" placeholder="Edit Annual Event Fees (Misc Charges)" id = "ann" name = "ann" required = required></td>
              </tr>

              <tr class = "color">
                <td class = "color"><input type = "text"  class = "form-control" [(ngModel)]="addrecord.milladmisc" placeholder="Edit Millad Funds (Misc Charges)" id = "milad" name = "milladfunds" required = required></td>
              </tr>

              <tr class = "color">
                <td class = "color"><input type = "text"  class = "form-control" [(ngModel)]="addrecord.healthcaremisc" placeholder="Edit Health Care Fees (Misc Charges)" id = "hcf" name = "hcf" required = required></td>
              </tr>


              <tr class = "color">
                <td class = "color"><input type = "text"  class = "form-control" [(ngModel)]="addrecord.amountpaid" placeholder="Edit Amount To Be Paid" id = "ap" name = "amountpaid" required = required></td>
              </tr>


              <tr class = "color">
                <td class = "color"><input type = "text"  class = "form-control" [(ngModel)]="addrecord.amountrecieved" placeholder="Edit Amount Recieved" id = "ar" name = "ar" required = required></td>
              </tr>

              <tr class = "color">
                <td><button type = "submit"  class = "btn btn-danger" id = "e" (click)="updateRecord(addrecord)">Save Changes</button></td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<a class="call_modal_delete" (click) = "Instructor()"></a>
<div class = "modal_delete">
  <div class="modal_main_delete">
    <div class = "inner_delete">
      <img src="/src/app/iamges/close.png" class="closer_delete">
      <h3>Are You Sure You Want To</h3>
      <h2 class="delete">EDIT?</h2>
      <button type = "submit" id = "y" class = "btn btn-blue" (click) = "y(addrecord)">YES</button>
      <button type = "submit" id = "n" class = "btn btn-red" (click) = "n()">NO</button>
    </div>
  </div>
</div>



<a class="call_modal_del" (click) = "Instructor()"></a>
<div class = "modal_del">
  <div class="modal_main_del">
    <div class = "inner_del">
      <h3>Are You Sure You Want To</h3>
      <h2 class="del">DELETE?</h2>
      <button type = "submit" id = "yy" class = "btn btn-blue" (click) = "ye(addrecord)">YES</button>
      <button type = "submit" id = "nn" class = "btn btn-red" (click) = "no()">NO</button>
    </div>
  </div>
</div>
