div.main{

  background-image: url("/src/app/iamges/b.jpg");
  width: 100%;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.9);
}

.login-html{
  width:100%;
  height:628px;
  /*padding:420px 70px 50px 70px;*/
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background: rgba(000000000, 0000000000, 000000,0.7);

}

.modal_faculty{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_faculty{

  background: rgba(0,0,0,0.7  );
  width: 140%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main_faculty{

  position: fixed;
  width: 70%;
  height: 30%;
  top: 30%;
  left: 32%;
  z-index: 2;
}

.mc{
  margin-left: 10%;
  color: lightgrey;
}




.head_faculty{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_faculty{
  height: 100%;
  width: 40%;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.add_para{
  color: lightgrey;
  font-family: "Times New Roman";
  font-size: 16px;
  letter-spacing: 2px;
  /*margin-top: 3%;*/
}


p.view_para{
  color: lightgrey;
  font-family: "Times New Roman";
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: -1%;
}


.add {
  height: 0%;
  margin-left: 8%;
  width: 35%;
  cursor: pointer;
  margin-top: 5%;
}



.view{
  height: 0%;
  margin-left: 55%;
  cursor: pointer;
  width: 45%;
  /*margin-top:-94%;*/
}




.icon-background4 {
  color: darkgray;
}

.try{
  color: white;
}


.form-group{
  /*color: orange;*/
  font-size: 20px;
  font-family: "Times New Roman";
}

h1{
  color: lightgray;
  margin-left: 10%;
  font-family: "Times New Roman";
}

p.wait{
  color: darkgray;
  font-family: "Times New Roman";
  font-size: 20px;
  margin-left: 4%;
  margin-top: 7%;
}

input{
  background: transparent;
  background: rgba(000000000, 0000000000, 000000,0.7);
  box-shadow: #f1f1f1;
  font-family: "Times New Roman";
  font-size: 18px;
  color: darkgray;
  margin-left: 10%;
  margin-top:5%;
  width:130%;
}


button[id = 'reg']{
  margin-left: 200px;
  color: white;
  cursor: hand;
  height: 40px;
  width: 150px;
  font-size: 18px;
  margin-top: 10px;
}

button[id = 'add']{
  margin-left: 20px;
  color: white;
  cursor: hand;
  height: 40px;
  width: 150px;
  font-size: 18px;
  margin-top: 10px;
}


.glyphicon-remove{
  color: red;
  margin-left: 325%;
  margin-top:2%;
}

.glyphicon-ok{
  color: lawngreen;
  margin-left: 325%;
  margin-top:2%
}

.errormsg{
  color: red;
  margin-left: 23%;
  width: 100%;
}

.okmsg{
  color: lawngreen;
  margin-left: 23%;
  width: 100%
}


.duedate{
  font-size: 16px;
  color: lightgrey;
  margin-left:10%;
}

.misc{
  color: white;
  margin-left:325%;
  margin-top: 45%;
  cursor: pointer;
}


.modal_misc{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_misc{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main_misc{
  position: fixed;
  width: 50%;
  height: 60%;
  top: 15%;
  left: 360px;
  z-index: 2;
}


.closer_misc{
  position: absolute;
  top: 6%;
  margin-left: 68%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}


.head_misc{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_misc{
  /*background:transparent;*/
  height: 130%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,2.9);
}

p.l_misc{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}

h2{
  color: lightgrey;
  margin-left: 3%;
}

input[id = 'annual']{
  margin-left: 2%;
  width: 90%;
}


input[id = 'millad']{
  margin-left: 2%;
  width: 90%;
}

input[id = 'healthcare']{
  margin-left: 2%;
  width: 90%;
}

.btn-danger{
  margin-left:13%;
  width: 40%;
  margin-top: 5%;
}

.modal_invoice{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_invoice{

  background: rgba(0,0,0,0.7  );
  width: 140%;
  height: 200%;
  position: fixed;
  top: 0;
}

.modal_main_invoice{

  position: fixed;
  width: 80%;
  height: 80%;
  top: 15%;
  left: 18%;
  z-index: 2;
}


.head_invoice{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_invoice{
  height: 100%;
  width: 80%;
  border-style: solid;
  background: white;
}


.closer_invoice{
  position: absolute;
  top: -2%;
  margin-left: 78%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}

.p_invoice{
  color: black;
  letter-spacing: 3px;
  font-family: "Times New Roman";
  font-size: 20px;
  margin-left: 5%;
  margin-top:3%;
}

.p_name{
  color: black;
  letter-spacing: 3px;
  font-family: "Times New Roman";
  font-size: 30px;
  margin-left: 5%;

}

.head{
  outline: black;
  heigth: 7%;
  width: 450%;
  margin-left: 35%;
  background-color: lightgrey;
  color: black;
  margin-top: 20%;
}


.date{
  margin-left: 60%;
  width: 100%;
  font-size: 16px;
  font-family: "Times New Roman";
}



* {font-family: Helvetica Neue, Arial, sans-serif; }

table [id='racetimes'] {
  text-align: center;
}

table[id='racetimes']{
  border-collapse: collapse;  width: 70%; margin-left: 0%;
}

th, td [class="color"]{
  padding: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
  color: lightgray
}

tr [class="color"] {
  background: hsla(905, 85%, 30%,0.4);
}

tr[id='firstrow'] {
  color: white;
  letter-spacing: 0.2rem;
  font-family: "Times New Roman";
}


tr:first-child [class="color"]{
  /*width: 190%;*/
  background: hsla(000, 100%, 000%, 0.8);
}

tr:nth-child(even) [class="color"]
{
  background: hsla(0, 0%, 10%, 0.5);
}

.fa-trash{
  margin-left: 10px;

  cursor:pointer;
}

.fa-pencil{
  cursor:pointer;
  margin-left: 10%;
}

td{
  color: white;
}

.row{
  margin-left: 10%;
  margin-top: 8%;
  width: 190%;
}


p.l{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}


.modal_delete{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_delete{

  background: rgba(0,0,0,0.7  );
  width: 140%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main_delete{

  position: fixed;
  width: 70%;
  height: 30%;
  top: 30%;
  left: 32%;
  z-index: 2;
}

.mc{
  margin-left: 10%;
  color: lightgrey;
}

.head_delete{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_delete{
  height: 100%;
  width: 40%;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

.closer_delete{
  position: absolute;
  top: -2.5%;
  margin-left: 38%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}

.btn-blue{
  background-color: dodgerblue;
  color: lightgrey;
  margin-left: 35%;
  margin-top:3%;
}

.btn-red{
  background-color: #cb2027;
  width:15%;
  color: lightgrey;
  margin-top:3%;
}

h3{
  /*margin-top: 15%;*/
  color: lightgrey;
  margin-left: 10%;
  margin-top:10%;
}

.delete{
  margin-top:-1.5%;
  margin-left: 37%;
}

.del{
  margin-top:-1.5%;
  margin-left: 37%;
}

.fa-envelope-open-o{
  cursor: pointer;

  margin-left: 10px;

  /*margin-left:50%;*/
}

.invoice{
  color: black;
  font-family: "Times New Roman";
  font-size: 20px;
  margin-top: 3%;
  margin-left: 5%;
}

.account{
  margin-left: 5%;
  font-size: 16px;
  font-family: "Times New Roman";
  width: 20%;

}

.dd{
  margin-left: 25%;
  font-size: 16px;
  font-family: "Times New Roman";
  width: 30%;
  margin-top: -3.68%;
}


.rd{
  margin-left: 49%;
  font-size: 16px;
  font-family: "Times New Roman";
  width: 30%;
  margin-top: -3.78%;
}


.bd{
  margin-left: 75%;
  font-size: 16px;
  font-family: "Times New Roman";
  width: 30%;
  margin-top: -3.9%;
}

.details{
  outline: #000 solid thin;
  width: 91%;
  margin-left: 5%;
  heigth: 10%;
  background-color: lightgrey;
  color: black;
  font-family: "Times New Roman";
  font-size: 16px;
}


table[id='in']{
  border-collapse: collapse;  width: 70%; margin-left: 5%;
}


p[id = 'name']{
  margin-left: 5%;
  outline: #000 solid thin;
  color: black;
  font-size: 16px;
  background: lightgrey;
  width: 7%;
  heigth: 2%;
  margin-top: 0.2%;

}

p[id = 'n']{
  margin-top:-3.8%;
  outline: #000 solid thin;
  color: black;
  font-size: 16px;
  background: white;
  width: 45%;
  margin-left:12%;
  text-align: center;
}

p[id='phone']{
  outline: #000 solid thin;
  color: black;
  font-size: 16px;
  background: lightgrey;
  width: 8%;
  margin-top:-3.55%;
  margin-left:57%;
}

p[id = 'p']{
  outline: #000 solid thin;
  color: black;
  font-size: 16px;
  background: white;
  width: 30.8%;
  margin-top: -3.8%;
  margin-left: 65.2%;
  text-align:  center;
}

p[id = 'address']{
  outline: #000 solid thin;
  color: black;
  font-size: 16px;
  background: white;
  width: 9%;
  background-color: lightgrey;
  margin-top: -1%;
  margin-left: 5%;
}

p[id = 'a']{
  outline: #000 solid thin;
  color: black;
  font-size: 16px;
  background: white;
  width: 82%;
  margin-top: -3.8%;
  margin-left: 14%;
  text-align: center;
}

p[id = 'd']{
  margin-left: 5%;
  outline: #000 solid thin;
  color: black;
  font-size: 16px;
  background: lightgrey;
  width: 15%;
  heigth: 2%;
  margin-top: 3%;
  text-align: center;

}

p[id = 't']{
  margin-left: 20%;
  outline: #000 solid thin;
  color: black;
  font-size: 16px;
  background: lightgrey;
  width: 13%;
  heigth: 2%;
  margin-top: -3.8%;
  text-align: center;
}

p[id = 'desc']{
  margin-left: 33%;
  outline: #000 solid thin;
  color: black;
  font-size: 16px;
  background: lightgrey;
  width: 30%;
  heigth: 2%;
  margin-top: -3.7%;
  text-align: center;
}

p[id = 'charge']{
  margin-left: 63%;
  outline: #000 solid thin;
  color: black;
  font-size: 16px;
  background: lightgrey;
  width: 18%;
  heigth: 2%;
  margin-top: -3.7%;
  text-align: center;
}

p[id = 'bal']{
  margin-left: 81%;
  outline: #000 solid thin;
  color: black;
  font-size: 16px;
  background: lightgrey;
  width: 15%;
  heigth: 2%;
  margin-top: -3.8%;
  text-align: center;
}


table [id='entry'] {
  text-align: start;
}

table[id='entry']{
  border-collapse: inherit;
  width: 15%;
  margin-left: 5%;
  margin-top: -1%;
  color: black;
}

tr:first-child [id='record'] {
  background: white;
}


td[id='ter']{
  margin-left: 50px;
  color: red;
}



table [id='edit'] {
  text-align: start;
}

table[id='edit']{
  border-collapse: inherit;
  width: 100%;
  /*margin-left: 5%;*/
  /*margin-top: -1%;*/
  color: black;
}

.modal_edit{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
}

.modal_bg_edit{

  background: rgba(0,0,0,0.7  );
  width: 140%;
  height: 200%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_edit{
  position: fixed;
  width: 40%;
  /*height: 100%;*/
  top: 5%;
  left: 38%;
  z-index: 2;
}


.head_edit{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_edit{
  height: 100%;
  width: 80%;
  border-style: solid;
  background: white;
}


.closer_edit{
  position: absolute;
  top: -2.5%;
  margin-left: 76%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}

.p_edit{
  color: black;
  letter-spacing: 3px;
  font-family: "Times New Roman";
  font-size: 20px;
  margin-left: 5%;
  margin-top:3%;
}

input[id='accountno']{
  width:90%;
  margin-left: 4%;
  /*margin-top:-2%;*/
}

input[id='fn']{
  width:90%;
  margin-left: 4%;
  /*margin-top:-2%;*/
}

input[id='ln']{
  width:90%;
  margin-left: 4%;
  /*margin-top:-2%;*/
}



input[id='duedat']{
  width:90%;
  margin-left: 4%;
  /*margin-top:-2%;*/
}

input[id='rdate']{
  width:90%;
  margin-left: 4%;
  /*margin-top:-2%;*/
}

input[id='ann']{
  width:90%;
  margin-left: 4%;
  /*margin-top:-2%;*/
}


input[id='milad']{
  width:90%;
  margin-left: 4%;
  /*margin-top:-2%;*/
}

input[id='hcf']{
  width:90%;
  margin-left: 4%;
  /*margin-top:-2%;*/
}


input[id='ap']{
  width:90%;
  margin-left: 4%;
  /*margin-top:-2%;*/
}


input[id='ar']{
  width:90%;
  margin-left: 4%;
  /*margin-top:-2%;*/
}

button[id='e']{
  width: 90%;
  margin-left: 4%;
  background-color: black;
  color: lightgrey;
}

.viewt{
  margin-left:6%;
}


td[id='acc']{
  margin-left:5%;
}



.modal_delete{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_delete{

  background: rgba(0,0,0,0.7  );
  width: 140%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main_delete{

  position: fixed;
  width: 70%;
  height: 30%;
  top: 30%;
  left: 32%;
  z-index: 2;
}

.mc{
  margin-left: 10%;
  color: lightgrey;
}

.head_delete{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_delete{
  height: 100%;
  width: 40%;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

.closer_delete{
  position: absolute;
  top: -2.5%;
  margin-left: 38%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}


h3{
  /*margin-top: 15%;*/
  color: lightgrey;
  margin-left: 10%;
  margin-top:10%;
}




.modal_del{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_del{

  background: rgba(0,0,0,0.7  );
  width: 140%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main_del{

  position: fixed;
  width: 70%;
  height: 30%;
  top: 30%;
  left: 32%;
  z-index: 2;
}

.mc{
  margin-left: 10%;
  color: lightgrey;
}

.head_del{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_del{
  height: 100%;
  width: 40%;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

.closer_del{
  position: absolute;
  top: -2.5%;
  margin-left: 38%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}

