<!--nav sidebar -->
<aside>
  <nav class="navbar navbar-inverse sidebar navbar-fixed-top" role="navigation">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="nav-side-menu">
      <div class="brand">Brand Logo</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

      <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
          <li>
            <a href="#">
              <i class="fa fa-user fa-lg"></i>Teacher
            </a>
          </li>


          <li data-toggle="collapse" data-target="#service" class="couresecollapsed">
            <a (click)="Course()"><i class="fa fa fa-newspaper-o fa-lg"></i>Exams<span></span></a>


            <ul id = "collapse-exam">

              <li data-toggle="collapse" data-target="#service" name="coursecollapsed">
                <a [routerLink] = "['/instructdb/instructca/setpaper']"><i class="fa fa-calendar fa-lg"></i>Set Paper</a>
                <router-outlet></router-outlet>
              </li>

              <li data-toggle="collapse" data-target="#service" name="coursecollapsed">
                <a [routerLink] = "['/instructdb/instructca/instructdatesheet']"><i class="fa fa-calendar fa-lg"></i>Date Sheet</a>
                <router-outlet></router-outlet>
              </li>

            </ul>

          </li>

          <!--<li data-toggle="collapse" data-target="#service" class="collapsed">-->
            <!--<a [routerLink] = "['/instructdb/instructca/publishresult']"><i class="fa fa-plus fa-lg"></i>Publish Result</a>-->
          <!--</li>-->


          <li data-toggle="collapse" data-target="#new" class="logout" (click) = "logout()">
           <i class="fa fa-power-off fa-lg" ></i>Logout
          </li>


          <li>
            <a href="#">
              <i class="fa fa-user fa-lg"></i> Profile
            </a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-users fa-lg"></i> Users
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</aside>

<div class="main">
</div>
<script>
  function htmlbodyHeightUpdate(){
    var height3 = $( window ).height()
    var height1 = $('.nav').height()+50
    height2 = $('.main').height()
    if(height2 > height3){
      $('html').height(Math.max(height1,height3,height2)+10);
      $('body').height(Math.max(height1,height3,height2)+10);
    }
    else
    {
      $('html').height(Math.max(height1,height3,height2));
      $('body').height(Math.max(height1,height3,height2));
    }

  }
  $(document).ready(function () {
    htmlbodyHeightUpdate()
    $( window ).resize(function() {
      htmlbodyHeightUpdate()
    });
    $( window ).scroll(function() {
      height2 = $('.main').height()
      htmlbodyHeightUpdate()
    });
  });
</script>
