<div class = "main">
  <div class = "login-html">

    <a class="call_modal_faculty" (click) = "Instructor()"></a>
    <div class = "modal_faculty">
      <div class="modal_main_faculty">
        <div class = "inner_faculty">
          <img src="/src/app/iamges/close.png" class="closer_faculty">

          <p class = "l">ASSIGN CLASSES TO TEACHERS...</p><hr/>

          <form id = "regForm">
            <table>

              <tr>
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (change) = "validatefirstname()" [(ngModel)] = "addteacher.firstname"  pattern="[a-z A-Z]*" placeholder="Enter Teacher's Name" name = "firstname" required= required id = "firstname">
                  </div>
                </td>
                <td>
                  <div *ngIf="firstnameinvalid" class = "glyphicon glyphicon-remove"></div>
                  <div *ngIf="firstnamevalid" class = "glyphicon glyphicon-ok"></div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input)="validateclassname()" [(ngModel)]="addteacher.classname" pattern="[0-9]*" placeholder="Enter Class" name = "classname" required = required id = "classname">
                  </div>
                </td>
                <td>
                  <div *ngIf="classnameinvalid" class = "glyphicon glyphicon-remove"></div>
                  <div *ngIf="classnamevalid" class = "glyphicon glyphicon-ok"></div>
                </td>
              </tr>


              <tr>
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input)="validatesectionname()" [(ngModel)]="addteacher.sectionname" pattern="[A-D]*" placeholder="Enter Section" name = "sectionname" required = required id = "sectionname">
                  </div>
                </td>
                <td>
                  <div *ngIf="sectionnameinvalid" class = "glyphicon glyphicon-remove"></div>
                  <div *ngIf="sectionnamevalid" class = "glyphicon glyphicon-ok"></div>
                </td>
              </tr>

              <tr>
                <td>
                <div *ngIf = "sectionnameinvalid" class = "errormsgs">SECTION DOES NOT EXIST</div>
                </td>
              </tr>


              <tr>
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (change)="validateSubjectname()" [(ngModel)]="addteacher.subjectname" pattern="[A-Z a-z]*" placeholder="Enter Subject" name = "subjectname" required = required id = "subjectname">
                  </div>
                </td>
                <td>
                  <div *ngIf="subjectnameinvalid" class = "glyphicon glyphicon-remove"></div>
                  <div *ngIf="subjectnamevalid" class = "glyphicon glyphicon-ok"></div>
                </td>
              </tr>



              <tr>
                <td class = "form-group">
                  <div *ngIf ="success" class = "errormsg">INVALID ENTRY</div>

                  <button type = "submit" class = "form-control" id = "reg" (click) ="duplicate(); AssignTeacher(); clear()">Assign Class</button>
                </td>
              </tr>


            </table>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


