h2 {
  text-align: center;
}

.mytable{
  margin-left:15%;
}

table caption {
  padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 2px solid #ddd;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: black;
  color: white
}

tr:nth-child(even) { background: hsla(0, 0%, 10%, 0.3); }

tr:nth-child(odd) { background: lightcyan; }

tr[class="firstrow"]{
  background-color: darkcyan;
}

th{
  text-align: center;
}

td{
  text-align: center;
}

.fa-pencil{
  color: #898986;
  margin-left: 80%;
  cursor: pointer;
  width:3%;
  margin-top:-0.6%;
}

.fa-trash{
  color: #898986;
  margin-left: 88%;
  cursor: pointer;
  width:3%;
  margin-top:-0.6%;
}


button[id="ok"]{
  margin-left:25%;
  width: 50%;
}

.modal_invalid{
  margin-left:-20%;
  background: rgba(000000000, 0000000000, 000000,0.5);
  width: 150%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_invalid{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_invalid{
  position: fixed;
  width: 50%;
  height:43%;
  top: 40%;
  left: 360px;
  z-index: 2;
}

.head_invalid{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_invalid{
  /*background:transparent;*/
  height: 63%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_invalid{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}



.btn-blue{
  background-color: dodgerblue;
  color: lightgrey;
  margin-left: 35%;
  margin-top:3%;
}

.btn-red{
  background-color: #cb2027;
  width:15%;
  color: lightgrey;
  margin-top:3%;
}


h3{
  /*margin-top: 15%;*/
  color: lightgrey;
  margin-left: 10%;
  margin-top:10%;
}



.modal_approve{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_approve{

  background: rgba(0,0,0,0.7  );
  width: 140%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main_approve{

  position: fixed;
  width: 70%;
  height: 30%;
  top: 30%;
  left: 32%;
  z-index: 2;
}

.mc{
  margin-left: 10%;
  color: lightgrey;
}

.head_approve{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_approve{
  height: 100%;
  width: 40%;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

.closer_approve{
  position: absolute;
  top: -2.5%;
  margin-left: 38%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}



input{
  background: transparent;
  background: rgba(000000000, 0000000000, 000000,0.7);
  box-shadow: #f1f1f1;
  font-family: "Times New Roman";
  font-size: 18px;
  color: darkgray;
  margin-left: 20%;
  margin-top:7%;
  width: 60%;
}


.modal_delete{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_delete{

  background: rgba(0,0,0,0.7  );
  width: 140%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main_delete{

  position: fixed;
  width: 70%;
  height: 30%;
  top: 30%;
  left: 32%;
  z-index: 2;
}

.mc{
  margin-left: 10%;
  color: lightgrey;
}

.head_delete{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_delete{
  height: 100%;
  width: 40%;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

.closer_delete{
  position: absolute;
  top: -2.5%;
  margin-left: 38%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}


.modal_faculty{
  display: none;
  /*width: 100%;*/
  /*height: 100%;*/
  /*position: fixed;*/
  /*top: 0;*/
}

.modal_bg_faculty{
  background: rgba(0,0,0,0.7  );
  /*!*width: 100%;*!*/
  /*!*height: 100%;*!*/
  position: fixed;
  /*top: 0;*/
}

.modal_main_faculty{
  position: fixed;
  width: 50%;
  height:68%;
  top: 10%;
  left: 360px;
  z-index: 2;
}


.closer_faculty{
  position: absolute;
  top: 2%;
  margin-left: 68%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}


.head_faculty{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_faculty{
  height: 130%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}


