<h2>VIEW DATESHEET OF CLASS {{this.classname}}</h2>

<div class="container mytable">
  <div class="row">
    <div class="col-xs-10">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
          <tr class = "firstrow">
            <th>DATE</th>
            <th>TIME</th>
            <th>CLASS</th>
            <th>SUBJECT</th>
            <th>TEACHER</th>
            <th>EDIT</th>
            <th>DELETE</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let v of array">
            <td>{{v.dateexam}}</td>
            <td>{{v.time}}</td>
            <td>{{v.classname}}</td>
            <td>{{v.subjectname}}</td>
            <td>{{v.tname}}</td>
            <td><i class="fa fa-pencil fa-stack-2x" (click)="edit(v)"></i></td>
            <td><i class="fa fa-trash fa-stack-2x" (click)="delete(v)"></i></td>
          </tr>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>


<a class="call_modal_invalid" (click) = "Instructor()"></a>
<div class = "modal_invalid">
  <div class="modal_main_invalid">
    <div class = "inner_invalid">
      <p class = "l_invalid">ALERT: SORRY...INVALID RECORD!</p><hr/>
      <button type = "submit"class = "btn btn-warning" (click)="cancel()">OK</button>
    </div>
  </div>
</div>


<a class="call_modal_faculty" (click) = "Instructor()"></a>
<div class = "modal_faculty">
  <div class = "modal_faculty modal">
    <div class="modal_main_faculty">
      <div class = "inner_faculty">
        <img src="/src/app/iamges/close.png" class="closer_faculty">
        <p class = "l">EDIT EXAM RECORD...</p><hr/>


        <div class = "form-group">
          <input type = "date" class = "form-control" [(ngModel)]="editres.dateexam"  placeholder="Enter Exam" name = "marks" required= required pattern="[0-9]*">
        </div>


        <div class = "form-group">
          <input type = "text" class = "form-control" [(ngModel)] = "editres.time"  placeholder="Enter Time" name = "time" required= required >
        </div>

        <div class = "form-group">
          <input type = "text" class = "form-control" [(ngModel)] = "editres.tname"  placeholder="Enter Teachers' Name" name = "tname" required= required >
        </div>

        <div class = "form-group">
          <input type = "text" class = "form-control"  [(ngModel)] = "editres.classname"  placeholder="Enter Time" name = "classname" required= required >
        </div>


        <div class = "form-group">
          <input type = "text" class = "form-control" [(ngModel)] = "editres.subjectname"  placeholder="Enter Subject" name = "subjectname" required= required >
        </div>

        <div class = "form-group">
          <button type = "submit" class = "btn btn-danger" (click)="update(editres)">EDIT RECORD</button>
        </div>
      </div>
    </div>
  </div>

  <a class="call_modal_delete" (click) = "Instructor()"></a>
  <div class = "modal_delete">
    <div class="modal_main_delete">
      <div class = "inner_delete">
        <img src="/src/app/iamges/close.png" class="closer_delete">
        <h3>Are You Sure You Want To</h3>
        <h2 class="delete">EDIT?</h2>
        <button type = "submit" id = "yes" class = "btn btn-blue" (click) = "yes()">YES</button>
        <button type = "submit" id = "no" class = "btn btn-red" (click) = "no()">NO</button>
      </div>
    </div>
  </div>
