<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h2>Invoice for Student #{{this.array.accountno}}</h2>
        <h3>{{this.array.firstname}} {{this.array.lastname}}</h3>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center"><strong>Fees summary</strong></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
              <tr>
                <td><strong>Student Name</strong></td>
                <td class="text-center"><strong>Amount Paid</strong></td>
                <td class="text-center"><strong>Misc Charges</strong></td>
                <td class="text-right"><strong>Total</strong></td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{this.array.firstname}} {{this.array.lastname}}</td>
                <td class="text-center">{{this.ap}}</td>
                <td class="text-center">{{this.p}}</td>
                <td class="text-right">{{this.tot}}</td>
              </tr>
              <tr>
                <td class="highrow"></td>
                <td class="highrow"></td>
                <td class="highrow text-center"><strong>Subtotal</strong></td>
                <td class="highrow text-right">{{this.tot}}</td>
              </tr>
              <tr>
                <td class="emptyrow"></td>
                <td class="emptyrow"></td>
                <td class="emptyrow text-center"><strong>Fine</strong></td>
                <td class="emptyrow text-right">{{this.array.fine}}</td>
              </tr>
              <tr>
                <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                <td class="emptyrow"></td>
                <td class="emptyrow text-center"><strong>Total</strong></td>
                <td class="emptyrow text-right">{{this.grand}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .height {
    min-height: 200px;
  }

  .icon {
    font-size: 47px;
    color: #5CB85C;
  }

  .iconbig {
    font-size: 77px;
    color: #5CB85C;
  }

  .table > tbody > tr > .emptyrow {
    border-top: none;
  }

  .table > thead > tr > .emptyrow {
    border-bottom: none;
  }

  .table > tbody > tr > .highrow {
    border-top: 3px solid;
  }
</style>
