<div class = "main">
  <div class = "login-html">

    <a class="call_modal_faculty" (click) = "Instructor()"></a>
    <div class = "modal_faculty">
      <div class="modal_main_faculty">
        <div class = "inner_faculty">
          <img src="/src/app/iamges/close.png" class="closer_faculty">

          <p class = "l">ADD CLASS...</p><hr/>

          <form id = "regForm">
            <table>
              <tr>
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validateclassname()" [(ngModel)] = "addclass.classname"  pattern="[0-9]*" placeholder="Enter Class Name" name = "classname" required= required>

                  </div>
                </td>
                <td>
                  <div *ngIf="classnameinvalid" class = "glyphicon glyphicon-remove"></div>
                  <div *ngIf="classnamevalid" class = "glyphicon glyphicon-ok"></div>
                </td>
              </tr>

              <tr>
                <td class = "form-group">
                  <button type = "submit" class = "btn btn-danger"(click) ="addClass();">ADD CLASS</button>
                </td>
              </tr>
             <tr>
              <div *ngIf ="success" class = "errormsg">INVALID ENTRY</div>
             </tr>
            </table>

            <div class = "modal">
              <div class="modal_bg close"></div>
              <div class="modal_main">
                <div class = "inner">
                  <img src="/src/app/iamges/close.png" class="closer">
                  <h1>Course Added Successfully!</h1>
                </div>
              </div>
            </div>

            <p class = "l">ASSIGN CLASS SECTIONS...</p><hr/>

            <form id = "regiForm">
              <table>
                <tr>
                  <td>
                    <div class = "form-group">
                      <input type = "text" class = "form-control" (click)="clear()" (input) = "validateassignclassname()" [(ngModel)] = "assignclass.classname"  pattern="[0-9]*" placeholder="Enter Class Name" name = "classname" required= required>
                      </div>
                  </td>
                  <td>
                    <div *ngIf="assignclassinvalid" class = "glyphicon glyphicon-remove"></div>
                    <div *ngIf="assignclassvalid" class = "glyphicon glyphicon-ok"></div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class = "form-group">
                      <input type = "text" class = "form-control" (click)="clear()" (input) = "validatesectionname()" [(ngModel)] = "assignclass.sectionname"  pattern="[A-D]*" placeholder="Enter Section Name[A-D]" name = "sectionname" required= required>
                    </div>
                  </td>
                  <td>
                    <div *ngIf="sectionnameinvalid" class = "glyphicon glyphicon-remove"></div>
                    <div *ngIf="sectionnamevalid" class = "glyphicon glyphicon-ok"></div>
                  </td>
                </tr>

                <tr>
                  <td class = "form-group">
                    <button type = "submit" class = "btn btn-danger"(click) ="assignClass(); clear()">ASSIGN CLASS SECTIONS</button>
                  </td>
                </tr>
                <div *ngIf ="assignsuccess" class = "errormsg">INVALID ENTRY</div>
                <div *ngIf ="assign" class = "errormsg">CLASS IS ALREADY ASSIGNED TO SECTION {{assignclass.sectionname}}</div>

              </table>

              <div class = "modal">
                <div class="modal_bg close"></div>
                <div class="modal_main">
                  <div class = "inner">
                    <img src="/src/app/iamges/close.png" class="closer">
                    <h1>Class Assigned To section Successfully!</h1>
                  </div>
                </div>
              </div>




            </form>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

