div.main{
  background-image: url("/src/app/iamges/b.jpg");
  /*height: 662px;*/
  width: 100%;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.9);
  /*background-repeat: no-repeat;*/
}

.login-html{
  width:100%;
  height:628px;
  /*padding:420px 70px 50px 70px;*/
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background: rgba(000000000, 0000000000, 000000,0.7);

}


.move{
  margin-left:50%;
  margin-top:20%;
}

.modal_faculty{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_faculty{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_faculty{
  position: fixed;
  width: 50%;
  height:68%;
  top: 10%;
  left: 360px;
  z-index: 2;
}


.closer_faculty{
  position: absolute;
  top: 2%;
  margin-left: 68%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}


.head_faculty{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_faculty{
  /*background:transparent;*/
  height: 130%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_faculty{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}


.row{
  margin-left: 10%;
  margin-top: 8%;
  width: 190%;
}


.btn-danger {
  -webkit-transition-duration: 0.4s;
  transition-duration: 1.4s;
  cursor: hand;
  height: 40px;
  margin-top: 10%;
  width: 165%;
  margin-left:20%
}


p.l{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}

div.errormsg{
  width: 90%;
  color: red;
  margin-left : 85%;
  margin-top: 10%;
}

input{
  background: transparent;
  background: rgba(000000000, 0000000000, 000000,0.7);
  box-shadow: #f1f1f1;
  font-family: "Times New Roman";
  font-size: 18px;
  color: darkgray;
  margin-left: 20%;
  margin-top:7%;
  width: 165%;
}


.glyphicon-remove{
  color: red;
  margin-left: 170px;
  margin-top:2%
}

.glyphicon-ok{
  color: lawngreen;
  margin-left: 170px;
  margin-top:2%
}

.glyphicon-warning-sign{
  color: yellow;
  margin-left: 170px;
  margin-top:2%

}
