
.dashboard{
  margin-left: 20%;
  /*margin-top:-49%;*/
}

div.main2{
  background-image: url("/src/app/iamges/b.jpg");
  width: 94%;
  height: 628px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.9);
  margin-left:-0.4%;
  margin-top:2%;
}



.login-html{
  margin-left:-2%;
  width:103%;
  height:628px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background: rgba(000000000, 0000000000, 000000,0.7);

}


div.main{
  background-image: url("/src/app/iamges/b.jpg");
  width: 100%;
  height: 615px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.9);
  /*margin-top: -0.5%;*/

}


.login-html{
  width:102%;
  height:615px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background: rgba(000000000, 0000000000, 000000,0.7);

  }


.alert-danger{
  margin-top: -40%;
  width: 40%;
  margin-left: 38%;
  background-color: black;
  color: grey;
  cursor: pointer;
}

.alert-result{
  margin-top: -27%;
  width: 40%;
  margin-left: 36%;
  border-color: white;
  background-color: black;
  color: grey;
  cursor: pointer;
}



.date{
  margin-left: 32%;
  font-size: 20px;
}

.ress{
  margin-left: 29%;
  font-size: 20px;
}

.alert-ann{
  /*margin-top: 9%;*/
  width: 30%;
  margin-left: 41.5%;
  border-color: white;
  background-color: black;
  color: grey;
  cursor: pointer;
}


.announce{
  margin-left: 23%;
  font-size: 20px;
}
