
<app-stdheader></app-stdheader>

<div class = main>
<div class = "login-html">

  <app-stdleftpane></app-stdleftpane>
  <!--<div class = "container dashboard">-->
    <!--<div class = "container">-->
      <!--<div class = "container res" (click)="results()">-->
        <!--<div class = "image_results form-control">-->
          <!--<div class = "trans_results container">-->
            <!--<p class = "t_results"><b>RESULTS</b></p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class = "container">-->
      <!--<div class = "container ds" (click)="datesheet()">-->
        <!--<div class = "image_datesheet form-control">-->
          <!--<div class = "trans_datesheet container">-->
            <!--<p class = "t_datesheet"><b>DATE</b></p>-->
            <!--<p class = "t_sheet"><b>SHEET</b></p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


  <div class="container move">

    <div class="alert alert-danger" (click) = "datesheet()">
      <strong class = "date">DATE SHEET</strong>
    </div>
  </div>

  <div class="alert alert-result" (click) = "res()">
    <strong class = "ress">EXAMINATION RESULTS</strong>
  </div>


  <div class="alert alert-ann" (click) = "announce()">
    <strong class = "announce">ANNOUNCEMENTS</strong>
  </div>


</div>

</div>

<router-outlet></router-outlet>
