<div class = "main">
  <div class = "login-html">
    <br/><br/><br/><br/>

    <a class="call_modal_faculty" (click) = "Instructor()"></a>
    <div class = "modal_faculty modal">
      <div class="modal_main_faculty">
        <div class = "inner_faculty">
          <img src="/src/app/iamges/close.png" class="closer_faculty">
          <p class = "l">UPDATE TEACHER RECORD...</p><hr/>

          <form id = "regForm">
            <table *ngFor = "let v of array">

              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validateachername()" [(ngModel)] = "v.username"  pattern="[0-9]*" placeholder="Enter Teacher Name" name = "teacher" required= required>
                  </div>
                </td>
              </tr>

<tr >
  <td>
    <div class = "form-group">
      <input type = "text" class = "form-control" (input) = "validateacherfirstname()" [(ngModel)] = "v.firstname"  pattern="[A-Z a-z]*" placeholder="Enter Teacher User Name" name = "teacher" required= required>
    </div>
  </td>
</tr>

<tr >
  <td>
    <div class = "form-group">
      <input type = "text" class = "form-control" (input) = "validateacherlastname()" [(ngModel)] = "v.lastname"  pattern="[A-Z a-z]*" placeholder="Enter Teacher First Name" name = "teacher" required= required>
    </div>
  </td>
</tr>

<tr >
  <td>
    <div class = "form-group">
      <input type = "text" class = "form-control" (input) = "validateachergender()" [(ngModel)] = "v.gender"   placeholder="Enter Teacher Last Name" name = "teacher" required= required>
    </div>
  </td>
</tr>

<tr >
  <td>
    <div class = "form-group">
      <input type = "text" class = "form-control" (input) = "validateacherphone()" pattern = "[0-9]*"[(ngModel)] = "v.phone"   placeholder="Enter Teacher Phone" name = "teacher" required= required>
    </div>
  </td>
</tr>

<tr >
  <td>
    <div class = "form-group">
      <input type = "text" class = "form-control" (input) = "validateacheremail()" [(ngModel)] = "v.email"   placeholder="Enter Teacher Email" name = "teacher" required= required>
    </div>
  </td>
</tr>
<tr >

  <td>
    <div class = "form-group">
      <input type = "password" class = "form-control" (input) = "validateacherpassword()" [(ngModel)] = "v.password"   placeholder="Enter Teacher Password" name = "teacher" required= required>
    </div>
  </td>
</tr>

<tr >
  <td>
    <div class = "form-group">
      <input type = "text" class = "form-control" (input) = "validateacherisInvigilator()" [(ngModel)] = "v.isInvigilator"   placeholder="Is Invigilator?" name = "teacher" required= required>
    </div>
  </td>
</tr>



<tr>
  <td class = "form-group">
    <button type = "submit" class = "btn btn-danger"(click) ="updateCourse(v)">Update</button>
  </td>
</tr>
<div *ngIf ="success" class = "errormsg">INVALID ENTRY</div>
</table>
</form>
</div>
</div>
</div>

<table id="racetimes">
  <tr id="firstrow">
    <th>USER NAMAE</th>
    <th>FIRST NAME</th>
    <th>LAST NAME</th>
    <th>GENDER </th>
    <th>PHONE </th>
    <th>EMAIL </th>
    <th>PASSWORD </th>
    <th>IS INVIGILATOR? </th>

  </tr>
  <tr *ngFor = "let v of array">
    <td>{{v.username}}</td>
    <td>{{v.firstname}}</td>
    <td>{{v.lastname}}</td>
    <td>{{v.gender}}</td>
    <td>{{v.phone}}</td>
    <td>{{v.email}}</td>
    <td>{{v.password}}</td>
    <td>{{v.isInvigilator}}</td>
    <td><i class = "fa fa-pencil" (click) = "edit(v)"></i>
    <td><i class = "fa fa-trash" (click) = "delete(v)"></i>
  </tr>
</table>
</div>
</div>



