<h2>VIEWING EXAM OF {{this.classname}}-{{this.subjectname}}</h2>
<h2>{{this.date}} {{this.time}}</h2>

<div class="container mytable">
  <div class="row">
    <div class="col-xs-10">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
          <tr class = "firstrow">
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>GENDER</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>INVIGILATE</th>
            <th>REMOVE</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor = "let a of array">
            <td>{{a.firstname}}</td>
            <td>{{a.lastname}}</td>
            <td>{{a.gender}}</td>
            <td>{{a.phone}}</td>
            <td>{{a.email}}</td>
            <td><i class="fa fa-check" (click) = "approve(a)"></i></td>
            <td><i class="fa fa-trash fa-stack-2x" (click)="delete(a)"></i></td>
          </tr>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>



<a class="call_modal_delete" (click) = "Instructor()"></a>
<div class = "modal_delete">
  <div class="modal_main_delete">
    <div class = "inner_delete">
      <img src="/src/app/iamges/close.png" class="closer_delete">
      <h3>Are You Sure You Want To</h3>
      <h2 class="delete">REMOVE INVIGILATION?</h2>
      <button type = "submit" id = "yes" class = "btn btn-blue" (click) = "yes()">YES</button>
      <button type = "submit" id = "no" class = "btn btn-red" (click) = "no()">NO</button>
    </div>
  </div>
</div>


<a class="call_modal_approve" (click) = "Instructor()"></a>
<div class = "modal_approve">
  <div class="modal_main_approve">
    <div class = "inner_approve">
      <img src="/src/app/iamges/close.png" class="closer_approve">
      <h3>Are You Sure You Want To</h3>
      <h2 class="delete">INVIGILATE?</h2>
      <button type = "submit"  class = "btn btn-blue" (click) = "yesApprove()">YES</button>
      <button type = "submit"  class = "btn btn-red" (click) = "noApprove()">NO</button>
    </div>
  </div>
</div>



