<div class = "main">
  <div class = "login-html">
    <form id = "regForm">
      <table>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "text" class = "form-control" (input)="validateusername()" [(ngModel)]="instructor.username" pattern="[a-z A-Z]*" placeholder="Enter User Name" name = "username" required = required id = "username">
            </div>
          </td>
          <td>
            <div *ngIf="usernameinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="usernamevalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "text" class = "form-control" (input)="validatename()" [(ngModel)]="instructor.firstname" pattern="[a-z A-Z]*" placeholder="Enter First Name" name = "firstname" required = required id = "firstname">
            </div>
          </td>
          <td>
            <div *ngIf="nameinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="namevalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "text" class = "form-control" (input) = "validatelname()" [(ngModel)] = "instructor.lastname"  pattern="[a-z A-Z]*" placeholder="Enter Last Name" name = "lastname" required= required id = "lastname">
            </div>
          </td>
          <td>
            <div *ngIf="lnameinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="lnamevalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>

        <tr>
          <div class = "form-group">
            <input type = "radio"  [(ngModel)]="instructor.gender" name = "gender" value = "Male"  id = "male" checked = checked>Male
            <input type = "radio"  [(ngModel)]="instructor.gender" name = "gender" value = "Female" id = "female">Female</div>
        </tr>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "text" class = "form-control" (input)="validateinterest()" [(ngModel)] = "instructor.interest" id = "interestadd" name="interestadd" placeholder="Enter Field of Interest" required= required></div>
          </td>
          <td>
            <div *ngIf="interestinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="interestvalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "text" class = "form-control" (input)="validatephone()" [(ngModel)] = "instructor.phone" id = "phoneadd" name="phoneadd" placeholder="Enter Phone#" pattern = "[0-9]*"required= required></div>
          </td>
          <td>
            <div *ngIf="phoneinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="phonevalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "text"  class = "form-control" (input)="validateemail()" [(ngModel)] = "instructor.email" id = "emailadd" name="emailadd" placeholder="Enter Email"pattern = "[A-z A-Z]*[0-9]*@[a-z A-Z]*[.][a-z A-Z]{2,3}"required= required></div>
          </td>
          <td>
            <div *ngIf="emailinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="emailvalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "text" class = "form-control" (input)="validateisAdmin()" [(ngModel)] = "instructor.isAdmin" id = "isAdmin" name="isAdmin" placeholder="Is Admin?" required= required></div>
          </td>
          <td>
            <div *ngIf="isAdmininvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="isAdminvalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>

        <tr>
          <td>
            <div class = "form-group">
              <input type = "password"  class = "form-control"  (input)= "validatepassword()" [(ngModel)] = "instructor.password" id = "password" placeholder="Enter Password" name="password" required= required></div>
          </td>
          <td>
            <div *ngIf="passinvalid" class = "glyphicon glyphicon-remove"></div>
            <div *ngIf="passvalid" class = "glyphicon glyphicon-ok"></div>
          </td>
        </tr>



        <tr>
          <div *ngIf ="passlen" class = "errormsg">Must have atleast 8 characters</div>
        </tr>
        <tr><button type = "submit" class = "call_modal" id = "reg" (click)="create()">Create account</button></tr>


        <div class = "modal">
          <div class="modal_bg close"></div>
          <div class="modal_main">
            <div class = "inner">
              <img src="/src/app/iamges/close.png" class="closer">
              <h1>Registration Successful!</h1>
              <p class = "wait">Thank you for registrating ... You and Oxford Academy are just one approval away!</p>
            </div>
          </div>
        </div>

      </table>
    </form>
  </div>
</div>
