<h1>DATE SHEET OF CLASS {{this.classname}}</h1>

<hr/>
<table class="table table-bordered">
  <thead>
  <tr>
    <th class = "head">DATE</th>
    <th class = "head">TIME</th>
    <th class = "head">SUBJECT</th>
    <th class = "head">TEACHER NAME</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let v of array_ds">
    <td class = "sub">{{v.dateexam}}</td>
    <td class = "obt">{{v.time}}</td>
    <td class = "per">{{v.subjectname}}</td>
    <td class = "grd">{{v.tname}}</td>
  </tr>
  </tbody>
</table>
