h1{
  font-family: "AR JULIAN";
  margin-left: 41%;
}

.head{
  background-color: black;
  color: lightgrey;
}

.table-bordered{
  width: 60%;
  margin-left: 20%;
}

.obt{
  width:20%;
}

.per{
  width: 25%;
}

hr{
  background-color: black;
}

.tot{
  width:20%;
}

th, td { padding: 1.5rem; font-size: 1.3rem; text-align: center; color: lightgray }

tr {background: hsla(905, 85%, 30%,0.8); }

tr[id = 'firstrow']{
  color: white;
  letter-spacing: 0.2rem;
  font-family: "Times New Roman";
}

tr, td { transition: .4s ease-in;}

tr:first-child {
  width: 190%;
  background: hsla(000, 100%, 000%, 0.8);
}

tr:nth-child(even) { background: hsla(0, 0%, 10%, 0.5); }
/*tr:hover:not(#firstrow) { transform: scale(1.2); font-weight: 700; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}*/
