div.screen {
  background-image: url("/src/app/iamges/b.jpg");
  height: 628px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .4), 0 17px 50px 0 rgba(0, 0, 0, .9);
}


.login-html{
  width:100%;
  height:628px;
  /*padding:420px 70px 50px 70px;*/
  background: rgba(000000000, 0000000000, 000000,0.7);

}

div.inner{
  background-color: blue;
  height: 400px;
  width: 500px;
  margin-left: 420px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.name{
  color: white;
  font-family: "Times New Roman";
  font-size: 20px;
  margin-left: 420px;
  letter-spacing: 5px;
}

p.l{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
  }

/*input.form-control{*/
  /*width: 350px;*/
  /*margin-left: 70px;*/
  /*margin-top: 30px;*/
  /*background-color: black;*/
  /*background: rgba(000000000, 0000000000, 000000,0.7);*/
/*}*/

.row{
  margin-left: 50px;
  margin-top: 50px;
  width: 990px;
}

button[id = 'login']{
  margin-left: 70px;
  margin-top: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 1.4s;
  cursor: hand;
  height: 40px;
  width: 350px;

}

button[id = 'login']:hover{
  background-color: black;
  color: red;
  height: 50px;
  width: 360px;
  font-size: 16px;
}

div.name{
  color: black;
  margin-left: 380px;
  font-size: 60px;
  text-shadow: 0 0 20px black;
  /*margin-top: 40px;*/
}

p.or{
  margin-top: 30px;
  font-size: 20px;
  font-family: "Times New Roman";
  color: darkgray;
  letter-spacing: 2px;
  margin-left: 150px;

}

.facebook {
  margin-top: 10px;
  border-radius: 5%;
  background-color: transparent;
  background: rgba(000000000, 0000000000, 000000, 0.7);
  color: darkgray;
  font-size: 16px;
  font-family: "Times New Roman";
  border-color: darkgrey;
  margin-left: 150px;
}

.twitter {
  margin-top: 10px;
  border-radius: 5%;
  background-color: transparent;
  background: rgba(000000000, 0000000000, 000000, 0.7);
  color: darkgray;
  font-size: 16px;
  font-family: "Times New Roman";
  border-color: darkgrey;
  margin-left: 20px;
}

.facebook span.icon {
  background: url("/src/app/iamges/untitled.png") no-repeat;
  float: left;
  width: 30px;
  height: 25px;
}

.twitter span.icon {
  background: url("/src/app/iamges/twitter.png") no-repeat;
  float: left;
  width: 30px;
  height: 25px;
}

