<div class = "main">
  <div class = "login-html">
    <br/><br/><br/><br/>

    <table id="racetimes">
      <tr id="firstrow">
        <th>ID</th>
        <th>CLASS NAME</th>
        <th></th>
      </tr>
      <tr *ngF  or = "let v of array">
        <td>{{v.id}}</td>
        <td>{{v.classname}}</td>
        <td><i class = "fa fa-pencil"></i><i class = "fa fa-trash"></i></td>
        </tr>
    </table>
  </div>
</div>
