div.main{
  background-image: url("/src/app/iamges/b.jpg");
  /*height: 662px;*/
  width: 100%;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.9);
  /*background-repeat: no-repeat;*/
}

.login-html{
  width:100%;
  height:628px;
  /*padding:420px 70px 50px 70px;*/
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background: rgba(000000000, 0000000000, 000000,0.7);

}


* {font-family: Helvetica Neue, Arial, sans-serif; }


table { text-align: center; }

table {border-collapse: collapse;  width: 70%; margin: 0 auto 5rem; }

th, td { padding: 1.5rem; font-size: 1.3rem; text-align: center; color: lightgray }

tr {background: hsla(905, 85%, 30%,0.4); }

tr[id = 'firstrow']{
  color: white;
  letter-spacing: 0.2rem;
  font-family: "Times New Roman";
}

tr, td { transition: .4s ease-in;}

tr:first-child {
  background: hsla(000, 100%, 000%, 0.8);
}

tr:nth-child(even) { background: hsla(0, 0%, 10%, 0.5); }
/*tr:hover:not(#firstrow) { transform: scale(1.2); font-weight: 700; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}*/

.fa-trash{
  margin-left: 15%;
  cursor:pointer;
;
}

.fa-pencil{
  cursor:pointer;
;
}
td{
  color: white;
}
