h2 {
  text-align: center;
}

.mytable{
  margin-left:15%;
}

table caption {
  padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 2px solid #ddd;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: black;
  color: white
}

tr:nth-child(even) { background: hsla(0, 0%, 10%, 0.3); }

tr:nth-child(odd) { background: lightcyan; }

tr[class="firstrow"]{
  background-color: darkcyan;
}

th{
  text-align: center;
}

td{
  text-align: center;
}

.fa-eye{
  color: #898986;
  margin-left: 80%;
  cursor: pointer;
  width:3%;
  margin-top:-0.6%;
}


