<h2>DEFAULTER</h2>

<div class="container mytable">
  <div class="row">
    <div class="col-xs-10">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
          <tr class = "firstrow">
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>DUE DATE</th>
            <th>RECIEVING DATE</th>
            <th>AMOUNT PAYABLE</th>
            <th>AMOUNT PAID</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let v of array">
            <td>{{v.firstname}}</td>
            <td>{{v.lastname}}</td>
            <td>{{v.duedate}}</td>
            <td>{{v.dateamountrecieved}}</td>
            <td>{{v.amountpaid}}</td>
            <td>{{v.amountrecieved}}</td>
          </tr>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
