div.main{
background-image: url("/src/app/iamges/b.jpg");
width: 100%;
height: 628px;
box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.9);
margin-top: -1%;
}


.login-html{
width:100%;
height:628px;
box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
background: rgba(000000000, 0000000000, 000000,0.7);

}

.image{
  background-color: #a8020a;
  margin-top:3%;
  height:150px;
  width: 412px;
  margin-left: 70%;
  outline: black
}

.trans{
  height:202px;
  width: 267px;
  background-repeat: no-repeat;
  background-image: url("/src/app/iamges/allusers.png");
  margin-top: -15.5%;
  margin-left: 33%;
}

.shade{
  margin-left: -65.5%;
  margin-top: 21.9%;
  width: 412px;
  height: 150px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background: rgba(000000000, 0000000000, 000000,0);
}

.teachers{
  font-size: 40px;
  color: white;
  letter-spacing: 3px;
  margin-left: 5%;
  margin-top: 4%;
  font-family: "Times New Roman";
}

.total{
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
  margin-left: 5%;
  font-family: "Times New Roman";
}



.t{
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
  margin-left: 5%;
  font-family: "Times New Roman";
  margin-top: -2.5%;
}

.image_students{
  background-color: #ffb600;
  margin-top:3%;
  height:150px;
  width: 412px;
  margin-left: 70%;
  outline: black
}

.trans_students{
  height:150px;
  width: 267px;
  background-repeat: no-repeat;
  background-image: url("/src/app/iamges/user.png");
  margin-top: -2.5%;
  margin-left: 33%;
}



.students{
  font-size: 40px;
  color: #2e353d;
  letter-spacing: 3px;
  margin-top: 4%;
  margin-left: -50%;
  font-family: "Times New Roman";
}

.total_students{
  font-size: 20px;
  color: #2e353d;
  letter-spacing: 3px;
  margin-left: -50%;
  font-family: "Times New Roman";
}



.t_students{
  font-size: 20px;
  color: #2e353d;
  letter-spacing: 3px;
  margin-left: -50%;
  font-family: "Times New Roman";
  margin-top: -2.5%;
}

.image_staff{
  background-color: lightseagreen;
  margin-top:3%;
  height:150px;
  width: 412px;
  margin-left: 70%;
  outline: black
}

.trans_staff{
  height:194px;
  width: 267px;
  background-repeat: no-repeat;
  background-image: url("/src/app/iamges/user (1).png");
  margin-top: -13.5%;
  margin-left: 40%;
}



.staff{
  font-size: 40px;
  color: #2e353d;
  letter-spacing: 3px;
  margin-top: 25%;
  margin-left: -60%;
  font-family: "Times New Roman";
}

.total_staff{
  font-size: 20px;
  color: #2e353d;
  letter-spacing: 3px;
  margin-left: -60%;
  font-family: "Times New Roman";
}



.t_staff{
  font-size: 20px;
  color: #2e353d;
  letter-spacing: 3px;
  margin-left: -60%;
  font-family: "Times New Roman";
  margin-top: -2.5%;
}

.head{
  margin-top:-45%;
  margin-left:-2%;
  color: lightgrey;
  font-family: "Times New Roman";
}



.image_results{
  background-color: limegreen;
  margin-top:3%;
  height:150px;
  width: 412px;
  /*margin-left: 70%;*/
  outline: black
}

.trans_results{
  height:202px;
  width: 267px;
  background-repeat: no-repeat;
  background-image: url("/src/app/iamges/result.png");
  margin-top: 1.5%;
  margin-left: 63%;
}

.total_results{
  font-size: 60px;
  margin-left: -105%;
  color: #02320b;
  letter-spacing: 3px;
  font-family: "Times New Roman";
}



.t_results{
  font-size: 25px;
  color: #02320b;
  letter-spacing: 3px;
  margin-left: -65%;
  font-family: "Times New Roman";
  margin-top: -8.5%;
}

.res{
  cursor:pointer;
}


.image_datesheet{
  background-color: #542b68;
  margin-top:3%;
  height:150px;
  width: 412px;
  /*margin-left: 70%;*/
  outline: black
}

.trans_datesheet{
  height:183px;
  width: 262px;
  background-repeat: no-repeat;
  background-image: url("/src/app/iamges/cale.png");
  margin-top: -10.8%;
  margin-left: 50%;
}

.total_datesheet{
  margin-top: 13%;
  font-size: 60px;
  margin-left: -90%;
  color: #fff;
  letter-spacing: 3px;
  font-family: "Times New Roman";
}



.t_datesheet{
  font-size: 45px;
  color: #fff;
  letter-spacing: 3px;
  margin-left: -55%;
  font-family: "Times New Roman";
  margin-top: -8.5%;
}

.datesheet{
  cursor:pointer;
}
