
<app-header></app-header>
<app-leftpane></app-leftpane>

<div class = "main">
  <div class = "login-html">

   <div class = "container">
        <div class = "image form-control">
          <div class = "trans container">
            <div class = "shade form-control container">
              <p class = "teachers"><b>89</b></p>
              <p class = "total"><b>TOTAL</b></p>
              <p class = "t"><b>TEACHERS</b></p>
            </div>
          </div>
        </div>
      </div>

    <div class = "container">
      <div class = "image_students form-control">
        <div class = "trans_students container">
            <p class = "students"><b>189</b></p>
            <p class = "total_students"><b>TOTAL</b></p>
            <p class = "t_students"><b>STUDENTS</b></p>
        </div>
      </div>
    </div>

    <div class = "container">
      <div class = "image_staff form-control">
        <div class = "trans_staff container">
          <p class = "staff"><b>189</b></p>
          <p class = "total_staff"><b>TOTAL</b></p>
          <p class = "t_staff"><b>STAFF</b></p>
        </div>
      </div>
    </div>

    <div class = "container">
      <h1 class="head">
        ADMIN DASHBOARD
      </h1>

      <div class = "container res" (click)="results()">
        <div class = "image_results form-control">
          <div class = "trans_results container">
              <p class = "total_results"><b>VIEW</b></p>
              <p class = "t_results"><b>RESULTS</b></p>
          </div>
        </div>
      </div>


      <div class = "container datesheet" (click)="datesheet()">
        <div class = "image_datesheet form-control">
          <div class = "trans_datesheet container">
            <p class = "total_datesheet"><b>DATE</b></p>
            <p class = "t_datesheet"><b>SHEET</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

