<h1>SUMAIYA TALIB</h1>

<hr/>
<table class="table table-bordered">
  <thead>
  <tr>
    <th class = "head">Subject</th>
    <th class = "head">Marks Obtained</th>
    <th class = "head">Total Marks</th>
    <th class = "head">Percentage</th>
    <th class = "head">Grade</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let v of array_res">
    <td class = "sub">{{v.subjectname}}</td>
    <td class = "obt">{{v.marks}}</td>
    <td class = "tot">100</td>
    <td class = "per">{{v.percentage}}</td>
    <td class = "grd">{{v.grade}}</td>
  </tr>
   </tbody>
</table>
