div.main{
  background-image: url("/src/app/iamges/b.jpg");
  /*height: 662px;*/
  width: 100%;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.9);
  /*background-repeat: no-repeat;*/
}

.login-html{
  width:100%;
  height:628px;
  /*padding:420px 70px 50px 70px;*/

  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background: rgba(000000000, 0000000000, 000000,0.7);

}


* {font-family: Helvetica Neue, Arial, sans-serif; }

table { text-align: center; }

table {border-collapse: collapse;  width: 70%; margin: 0 auto 5rem; }

th, td { padding: 1.5rem; font-size: 1.3rem; text-align: center; color: lightgray }

tr {background: hsla(905, 85%, 30%,0.4); }

tr[id = 'firstrow']{
  color: white;
  letter-spacing: 0.2rem;
  font-family: "Times New Roman";
}

tr, td { transition: .4s ease-in;}

tr:first-child {
  width: 190%;
  background: hsla(000, 100%, 000%, 0.8);
}

tr:nth-child(even) { background: hsla(0, 0%, 10%, 0.5); }
/*tr:hover:not(#firstrow) { transform: scale(1.2); font-weight: 700; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}*/

.fa-trash{
  margin-left: 25%;
  cursor:pointer;
;
}

.fa-pencil{
  cursor:pointer;
;
}
td{
  color: white;
}

.modal_faculty{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_faculty{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_faculty{
  position: fixed;
  width: 50%;
  height:68%;
  /*top: 10%;*/
  left: 360px;
  z-index: 2;
}


.closer_faculty{
  position: absolute;
  top: 2%;
  margin-left: 68%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}


.head_faculty{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_faculty{
  /*background:transparent;*/
  height: 130%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_faculty{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}


.row{
  margin-left: 10%;
  /*margin-top: 8%;*/
  width: 190%;
}


.btn-danger {
  -webkit-transition-duration: 0.4s;
  transition-duration: 1.4s;
  cursor: hand;
  height: 40px;
  margin-top: 10%;
  width: 165%;
  margin-left:20%
}


p.l{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}
