<div class = "main">
  <div class = "login-html">
    <br/><br/><br/><br/>

    <a class="call_modal_faculty" (click) = "Instructor()"></a>
    <div class = "modal_faculty modal">
      <div class="modal_main_faculty">
        <div class = "inner_faculty">
          <img src="/src/app/iamges/close.png" class="closer_faculty">
          <p class = "l">UPDATE STAFF RECORD...</p><hr/>

          <form id = "regForm">
            <table *ngFor = "let v of array">
              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatestaffusername()" [(ngModel)] = "v.username"  pattern="[A-Z a-z]*" placeholder="Enter Staff User Name" name = "courseno" required= required>
                  </div>
                </td>
              </tr>


              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validastafffirstname()" [(ngModel)] = "v.firstname"  pattern="[A-Z a-z]*" placeholder="Enter Staff First Name" name = "teacher" required= required>
                  </div>
                </td>
              </tr>

              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatestafflastname()" [(ngModel)] = "v.lastname"  pattern="[A-Z a-z]*" placeholder="Enter Staff Last Name" name = "teacher" required= required>
                  </div>
                </td>
              </tr>

              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatestaffgender()" [(ngModel)] = "v.gender"   placeholder="Enter Gender" name = "teacher" required= required>
                  </div>
                </td>
              </tr>



              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validateacherinterest()" pattern = "[A-Z a-z]*"[(ngModel)] = "v.interest"   placeholder="Enter Staff Interest" name = "teacher" required= required>
                  </div>
                </td>
              </tr>



              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatestaffphone()" pattern = "[0-9]*"[(ngModel)] = "v.phone"   placeholder="Enter Staff Phone" name = "teacher" required= required>
                  </div>
                </td>
              </tr>


              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatestaffemail()" [(ngModel)] = "v.email"   placeholder="Enter Staff Email" name = "teacher" required= required>
                  </div>
                </td>
              </tr>


              <tr >
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatestaffisAdmin()" [(ngModel)] = "v.isAdmin"   placeholder="Is Admin?" name = "teacher" required= required>
                  </div>
                </td>
              </tr>



              <tr>
                <td class = "form-group">
                  <button type = "submit" class = "btn btn-danger"(click) ="updateCourse(v)">Update</button>
                </td>
              </tr>
              <div *ngIf ="success" class = "errormsg">INVALID ENTRY</div>
            </table>
          </form>
        </div>
      </div>
    </div>

    <table id="racetimes">
      <tr id="firstrow">
        <th>USER NAME</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>GENDER</th>
        <th>INTEREST</th>
        <th>PHONE</th>
        <th>EMAIL</th>
        <th>ISADMIN</th>
        <th></th>
      </tr>
      <tr *ngFor = "let v of array">
        <td>{{v.username}}</td>
        <td>{{v.firstname}}</td>
        <td>{{v.lastname}}</td>
        <td>{{v.gender}}</td>
        <td>{{v.interest}}</td>
        <td>{{v.phone}}</td>
        <td>{{v.email}}</td>
        <td>{{v.isAdmin}}</td>
        <td><i class = "fa fa-pencil" (click) = "edit(v)"></i>
        <td><i class = "fa fa-trash" (click) = "delete(v)"></i>
      </tr>
    </table>
  </div>
</div>




