<div class = "container main">
  <div class = "res"><h1>NOTIFICATIONS AND ANNOUNCEMENTS</h1>
<hr/>

<div class="container">
  <table>
          <tr *ngFor="let v of array_exam">
          <div class="alert alert-danger alert-dismissable fade in">
          <strong>Attention!</strong> You're Appointed As An Invigilator For Class {{v.classname}}-{{v.subjectname}} Paper of {{v.tname}} Scheduled On {{v.dateexam}} at {{v.time}}.</div>
          </tr>

          <tr *ngFor="let v of array_announce">
            <div class="alert alert-success alert-dismissable fade in">
              <strong>Announcement!</strong>{{v.content}}</div>
          </tr>

  </table>
</div>
</div>
</div>
