.main{
  background-color: black;
  width: 100%;
  height: 615px;
}

.res{
  background-color: black;
  width: 100%;
  height: auto;
}

h1{
  margin-left: 27%;
  font-family: "calibri";
  color: white;
}

.alert-danger{
  width:100%;
  margin-left: 50%;
  font-size: 16px;
}


.alert-success{
  width:100%;
  margin-left: 50%;
  font-size: 16px;
}




