<h2>VIEW EXAMS</h2>

<div class="container mytable">
  <div class="row">
    <div class="col-xs-10">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <caption class="text-center">Click On View To View Exams Of the Respective Class</caption>
          <thead>
          <tr class = "firstrow">
            <th>DATE</th>
            <th>TIME</th>
            <th>SUBJECT</th>
            <th>CLASS</th>
            <th>TEACHER</th>
            <th>INVIGILATE</th>
           </tr>
          </thead>
          <tbody>

          <tr *ngFor="let v of array">
            <td>{{v.dateexam}}</td>
            <td>{{v.time}}</td>
            <td>{{v.subjectname}}</td>
            <td>{{v.classname}}</td>
            <td>{{v.tname}}</td>
            <td><i class="fa fa-user-secret fa-stack-2x" (click)="invigilate(v)"></i></td>
          </tr>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>



<a class="call_modal_invalid" (click) = "Instructor()"></a>
<div class = "modal_invalid">
  <div class="modal_main_invalid">
    <div class = "inner_invalid">
      <p class = "l_invalid">SORRY...NO RECORD AVAILABLE!</p><hr/>
      <button type = "submit" id = "ok" class = "btn btn-warning" (click)="ok()">OK</button>
    </div>
  </div>
</div>
