h2 {
  text-align: center;
}

.mytable{
  margin-left:15%;
}

table caption {
  padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 2px solid #ddd;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: black;
  color: white
}

tr:nth-child(even) { background: hsla(0, 0%, 10%, 0.3); }

tr:nth-child(odd) { background: lightcyan; }

tr[class="firstrow"]{
  background-color: darkcyan;
}

th{
  text-align: center;
}

td{
  text-align: center;
}

.fa-user-secret{
  color: #898986;
  margin-left: 88%;
  cursor: pointer;
  width:3%;
  margin-top:-0.6%;
}

modal_invalid{
  margin-left:20%;
  background: rgba(000000000, 0000000000, 000000,0.5);
  width: 150%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_invalid{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_invalid{
  position: fixed;
  width: 50%;
  height:43%;
  top: 40%;
  left: 360px;
  z-index: 2;
}

.head_invalid{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_invalid{
  /*background:transparent;*/
  height: 63%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_invalid{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}


button[id='ok']{
  margin-left:25%;
  width: 50%;
  margin-top:5%;

}

