<div class = "container main">
<h1>ANNOUNCEMENTS</h1>
<hr/>

    <textarea rows="4" cols="50" [(ngModel)]="content"  name="comment" class = "inner">Post Announcement</textarea>
    <div class = "buttons">
    <p class = "send">Send Announcement To:
    <input type = "radio"  [(ngModel)] = "sendTo"  value = "teacher" id = "teacher" name="ann">Teachers
    <input type = "radio" [(ngModel)] = "sendTo" value = "staff" id = "staff" name="ann">Staffs
    <input type = "radio"  [(ngModel)] = "sendTo" value = "student" id = "student" name="ann">Students
    <input type = "radio" [(ngModel)] = "sendTo" value = "all" id = "all" name="ann">All
    <button type = "submit" class = "btn btn-danger" (click) = "res(sendTo)">Send</button></p>
    </div>



  <a class="call_modal_invalid" (click) = "Instructor()"></a>
  <div class = "modal_invalid">
    <div class="modal_main_invalid">
      <div class = "inner_invalid">
        <p class = "l_invalid">PLEASE SELECT THE RECIPIENT</p><hr/>
        <button type = "submit"class = "btn btn-warning" (click)="cancel()">OK</button>
      </div>
    </div>
  </div>

  <a class="call_modal_cinvalid" (click) = "Instructor()"></a>
  <div class = "modal_cinvalid">
    <div class="modal_main_invalid">
      <div class = "inner_cinvalid">
        <p class = "l_cinvalid">PLEASE ENTER THE ANNOUNCEMENT</p><hr/>
        <button type = "submit"class = "btn btn-warning" (click)="ok()">OK</button>
      </div>
    </div>
  </div>

  <a class="call_modal_approve" (click) = "Instructor()"></a>
  <div class = "modal_approve">
    <div class="modal_main_approve">
      <div class = "inner_approve">
        <img src="/src/app/iamges/close.png" class="closer_approve">
        <h2>Do You Want To</h2>
        <h3>Post Announcement</h3>
        <button type = "submit"  class = "btn btn-blue" (click) = "yesApprove()">YES</button>
        <button type = "submit"  class = "btn btn-red" (click) = "noApprove()">NO</button>
      </div>
    </div>
  </div>



</div>
