div.main{
  background-color: black;
  height: 610px;
  margin-top:0.1%;
  width: 100%;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.9);
}

h1{
  color:lightgrey;
  margin-left: 26%;
  font-size: 60px;
}

.hr{
border-top:1px solid red;
}

.inner{
  background-color: #060606;
  width: 60%;
  height: 40%;
  border-color:grey;
  margin-left: 19%;
  margin-top:3%;
}

h2{
  margin-top:-0.5%;
  letter-spacing:1px;
}

textarea[name="comment"]{
  color: lightgrey;
  font-family: Calibri;
  font-size: 16px;
}

.buttons{
  margin-top: 2%;
  margin-left: 19%;
  font-size: 20px;
  font-family: Calibri;
  border-bottom: 1px solid grey;
  width:60%;
}


input[id='teacher']{
  margin-left: 1%;
}

input[id='staff']{
  margin-left: 5%;
}


input[id='student']{
  margin-left: 5%;
}

input[id='all']{
  margin-left: 5%;
}

.btn-danger{
  margin-left: 5%;
  padding: 1px;
  width: 15%;
}

.btn-warning{
  width: 50%;
  margin-left:25%;
  margin-top:5%;
}

button[id="ok"]{
  margin-left:25%;
  width: 50%;
}

.modal_invalid{
  margin-left:-20%;
  background: rgba(000000000, 0000000000, 000000,0.5);
  width: 150%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_invalid{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_invalid{
  position: fixed;
  width: 50%;
  height:43%;
  top: 40%;
  left: 360px;
  z-index: 2;
}

.head_invalid{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_invalid{
  height: 63%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_invalid{
  margin-left: 55px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}

.modal_cinvalid{
  margin-left:-20%;
  background: rgba(000000000, 0000000000, 000000,0.5);
  width: 150%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_cinvalid{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_cinvalid{
  position: fixed;
  width: 50%;
  height:43%;
  top: 40%;
  left: 360px;
  z-index: 2;
}

.head_cinvalid{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_cinvalid{
  height: 63%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_cinvalid{
  margin-left: 45px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}

.modal_approve{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_approve{

  background: rgba(0,0,0,0.7  );
  width: 140%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main_approve{

  position: fixed;
  width: 70%;
  height: 30%;
  top: 30%;
  left: 32%;
  z-index: 2;
}

.mc{
  margin-left: 10%;
  color: lightgrey;
}

.head_approve{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_approve{
  height: 100%;
  width: 40%;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

.closer_approve{
  position: absolute;
  top: -2.5%;
  margin-left: 38%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}



.btn-blue{
  background-color: dodgerblue;
  color: lightgrey;
  margin-left: 35%;
  margin-top:3%;
}

.btn-red{
  background-color: #cb2027;
  width:15%;
  color: lightgrey;
  margin-top:3%;
}

h2{
  color: lightgrey;
  margin-top: 4%;
  margin-left: 20%;
}


h3{
  color: lightgrey;
  margin-top: 6%;
  margin-left: 20%;
}

button[id="approve"]{
  width:30%;
  margin-left:30%;

}

