div.main{
  background-image: url("/src/app/iamges/b.jpg");
  width: 100%;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.9);
  /*background-repeat: no-repeat;*/
}

.login-html{
  width:100%;
  height:580px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background: rgba(000000000, 0000000000, 000000,0.7);

}


.head{
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 50px;
  letter-spacing: 3px;
  margin-left: 180px;
}

div.inner{
  background-color: blue;
  height: 500px;
  width: 1000px;
  margin-left: 180px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}



.form-group{
  /*color: orange;*/
  font-size: 20px;
  font-family: "Times New Roman";
}

input{
  background: transparent;
  background: rgba(000000000, 0000000000, 000000,0.7);
  box-shadow: #f1f1f1;
  font-family: "Times New Roman";
  font-size: 18px;
  color: darkgray;
  margin-left: 180px;
  margin-top:20px;
}


.button[id = "male"]{
  color:white;
}

button[id = 'reg']{
  /*margin-left: 180px;*/
  margin-left: 400px;

  color: black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 1.4s;
  cursor: hand;
  height: 40px;
  width: 150px;
  font-size: 18px;
  margin-top: 10px;
}
button[id = 'reg']:hover{
  background-color: black;
  height: 50px;
  width: 170px;
  font-size: 16px;
  color: darkgrey;

}

.modal{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg{
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main{
  position: fixed;
  width: 50%;
  height: 250px;
  top: 25%;
  left: 360px;
  z-index: 2;
}


.closer{
  position: absolute;
  top: 13%;
  margin-left: 80%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}


div.inner{
  background:transparent;
  height: 200px;
  width: 600px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

h1{
  color: lightgray;
  margin-left: 4%;
}

p.wait{
  color: darkgray;
  font-family: "Times New Roman";
  font-size: 20px;
  margin-left: 4%;
  margin-top: 7%;
}


button[id = 'reg']{
  margin-left: 60%;
  margin-top: 3%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 1.4s;
  cursor: hand;
  height: 40px;
  width: 350px;
  background-color: black;
  color: red;
  border-radius: 3%;

}

button[id = 'reg']:hover{
  background-color: black;
  color: red;
  height: 50px;
  width: 360px;
  font-size: 16px;
}


.glyphicon-remove{
  color: red;
  margin-left: 150px;
  margin-top:2%
}

.glyphicon-ok{
  color: lawngreen;
  margin-left: 150px;
  margin-top:2%
}

.errormsg{
  color: red;
  margin-left: 60%;
}
