
h2{
  margin-top: 3%;
}

table[id=datatable]{
  margin-left: 1%;
  margin-top: 1%;
}

.note{
  margin-left: 1%;
}

.timing{
  margin-left: 1%;
}

th{
  text-align: center;
}




.modal_faculty{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_faculty{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_faculty{
  position: fixed;
  width: 40%;
  height:28%;
  top: 30%;
  left: 360px;
  z-index: 2;
}


.head_faculty{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_faculty{
  /*background:transparent;*/
  height: 130%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_faculty{
  text-align: justify;
  margin-left: 20px;
  margin-top: 20%;
  margin-right: 20%;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}


.row{
  margin-left: 10%;
  margin-top: 8%;
  width: 190%;
}

p.l{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}

p.add_para{
  color: lightgrey;
  font-family: "Times New Roman";
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: -1%;
}


.home {
  height: 0%;
  margin-left: 52%;
  width: 35%;
  cursor: pointer;
  margin-top: -21%;
}

.fa-home{
  color: lightgrey;
}
