
<body>

<div *ngIf = "this.old">

  <a class="call_modal_faculty" (click) = "Instructor()"></a>
  <div class = "modal_faculty">
    <div class="modal_main_faculty">
      <div class = "inner_faculty">
        <p class = "l">ALERT: No Recent Time Table Uploaded By Administration. Please Check For The Recent Time Table Later.</p><hr/>
      </div>

      <div class = "home">
          <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x icon-background4"></i>
          <i class="fa fa-home fa-stack-1x" (click)="home()"></i><br/>
          </span></div>

    </div>
  </div>
</div>


<div *ngIf="this.recent" class="container">
  <div class="row">
    <h2 class="text-center">TIME TABLE FOR EXAMINATION</h2>
  </div>

  <div class="row">

    <div class="col-md-12">

      <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Class</th>
          <th *ngFor = "let v of date">{{v}}</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td><b>CLASS I</b></td>
          <td>System Arcsssssshitect</td>
          <td>Edinbsssssurgh</td>
          <td>61000022222220000</td>
          <td>2011/04/222222225</td>
          <td>$320,800000000000</td>
          <td>aaaaaaaaaaaaaaaa</td>
          <td>aaaaaaaaaaaaaaaa</td>
        </tr>

        <tr>
          <td><b>CLASS II</b></td>
        </tr>

        <tr>
          <td><b>CLASS III</b></td>
        </tr>

        <tr>
          <td><b>CLASS IV</b></td>
        </tr>

        <tr>
          <td><b>CLASS V</b></td>
        </tr>

        <tr>
          <td><b>CLASS VI</b></td>
        </tr>

        <tr>
          <td><b>CLASS VII</b></td>
        </tr>

        <tr>
          <td><b>CLASS VIII</b></td>
        </tr>

        <tr>
          <td><b>CLASS IX</b></td>
        </tr>

        <tr>
          <td><b>CLASS X</b></td>
        </tr>

        </tbody>
      </table>
      <p class = "note">-Any Exam Posponed Will Be Taken At The End. The New Dates Will Be Announced By The Administration</p>
      <p class ="timing">-The Timings Of Primary Examination Will be from 09:00AM To 12:00PM. The Timings Of Secondary Examination Will be From 02:00PM to 05:00PM</p>

    </div>
  </div>
</div>

</body>
