<div class="container main">
  <h1>SET PAPER</h1>-<h2>CLASS: {{this.classname}} | SUBJECT: {{this.subjectname}}</h2>
  <hr/>

  <textarea rows="4" cols="50" [(ngModel)]="content"  name="comment" class = "inner" placeholder="Add Question Here..."></textarea>
  <button type = "submit" class = "btn btn-danger" id = "add" (click)="add()">Add Question</button>
  <div class="container verticalLine">
    <h2>View Questions</h2>
  </div>



  <div class="container mytable">
    <div class="row">
      <div class="col-xs-6">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr class = "firstrow">
              <th class = "del">DELETE</th>
              <th class = "edit">EDIT</th>
              <th class="ques">QUESTION</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let v of array_ques">
              <td><i class ="fa fa-trash" (click)="delete(v)"></i></td>
              <td><i class ="fa fa-pencil" (click)="edit(v)"></i></td>
              <td>{{v.content}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



  <a class="call_modal_invalid" (click) = "Instructor()"></a>
  <div class = "modal_invalid">
    <div class="modal_main_invalid">
      <div class = "inner_invalid">
        <p class = "l_invalid">PLEASE WRITE THE QUESTION!</p><hr/>
        <button type = "submit"class = "btn btn-warning" (click)="cancel()">OK</button>
      </div>
    </div>
  </div>
</div>

<a class="call_modal_error" (click) = "Instructor()"></a>
<div class = "modal_error">
  <div class="modal_main_error">
    <div class = "inner_error">
      <p class = "l_error">QUESTION ALREADY EXIST!</p><hr/>
      <button type = "submit"class = "btn btn-warning" (click)="errorcancel()">OK</button>
    </div>
  </div>
</div>




<a class="call_modal_approve" (click) = "Instructor()"></a>
<div class = "modal_approve">
  <div class="modal_main_approve">
    <div class = "inner_approve">
      <h2 class = "do">Do You Want To</h2>
      <h3>Delete Question</h3>
      <button type = "submit"  class = "btn btn-blue" (click) = "yesApprove()">YES</button>
      <button type = "submit"  class = "btn btn-red" (click) = "noApprove()">NO</button>
    </div>
  </div>
</div>



<a class="call_modal_update" (click) = "Instructor()"></a>
<div class = "modal_update">
  <div class="modal_main_update">
    <div class = "inner_update">
      <img src="/src/app/iamges/close.png" (click)="exit()" class="closer_update" >
      <p class = "l_update">Edit Question</p>
      <textarea rows="4" cols="50" [(ngModel)]="con"  name="comment" class = "edit_inner" placeholder="Add Question Here..."></textarea>
          <button type = "submit"  class = "btn btn-warning" (click)="update()">Save Changes</button>
      </div>
  </div>
</div>


<a class="call_modal_edit" (click) = "Instructor()"></a>
<div class = "modal_edit">
  <div class="modal_main_edit">
    <div class = "inner_edit">
      <h2 class = "do">Do You Want To</h2>
      <h3>Edit Question</h3>
      <button type = "submit"  class = "btn btn-blue" (click) = "yesEdit()">YES</button>
      <button type = "submit"  class = "btn btn-red" (click) = "noEdit()">NO</button>
    </div>
  </div>
</div>
