.main{
  background-color: black;
  width: 100%;
  height: 628px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.9);
  margin-top:0.1%;
}

h1{
  margin-left: 5%;
  color: white;
  margin-top: 1%;
}

h2{
  text-transform: uppercase;
  margin-left: 5%;
  color: white;
}

.inner{
  background-color: #060606;
  width: 40%;
  height: 60%;
  border-color:grey;
  margin-left: 5%;
  margin-top:1%;
}

h2{
  margin-top:-0.5%;
  letter-spacing:1px;
}

textarea[name="comment"]{
  color: lightgrey;
  font-family: Calibri;
  font-size: 16px;
}

button[id='add']{
  margin-top:3%;
  margin-left:-8.6%;
}

.verticalLine{
  /*background-color: #060606;*/
  background-color: black;
  width: 25%;
  height: auto;
  border-color:grey;
  margin-left: 50%;
  margin-top:-35%;
}


.fa-trash{
  color: lightgrey;
  margin-left: 5rem;
  /*margin-top:-35rem;*/
}

.fa-pencil{
  color: lightgrey;
  margin-left: 2rem;
}


.btn-warning{
  width: 50%;
  margin-left:25%;
  margin-top:5%;
}

button[id="ok"]{
  margin-left:25%;
  width: 50%;
}


.modal_error{
  margin-left:-20%;
  background: rgba(000000000, 0000000000, 000000,0.5);
  width: 150%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_error{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_error{
  position: fixed;
  width: 50%;
  height:43%;
  top: 40%;
  left: 360px;
  z-index: 2;
}

.head_error{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_error{
  height: 63%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_error{
  margin-left: 60px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}

.modal_invalid{
  margin-left:-20%;
  background: rgba(000000000, 0000000000, 000000,0.5);
  width: 150%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_invalid{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_invalid{
  position: fixed;
  width: 50%;
  height:43%;
  top: 40%;
  left: 360px;
  z-index: 2;
}

.head_invalid{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_invalid{
  height: 63%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_invalid{
  margin-left: 55px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}

.ques{
  width: 1%
}


.mytable{
  margin-left:15%;
}

/*table caption {*/
  /*padding: .5em 0;*/
/*}*/

/*@media screen and (max-width: 767px) {*/
  /*table caption {*/
    /*border-bottom: 2px solid #ddd;*/
  /*}*/
/*}*/

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

.mytable{
  margin-left: 50%;
  margin-top: 1%;
  color:white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: black;
  color: white
}

tr:nth-child(even) {
  background: hsla(0, 0%, 10%, 0.3);
  color: white;
}

tr:nth-child(odd) {
  background: black;
  color: white

}

tr[class="firstrow"]{
  background-color: black;
  color: whitesmoke;
}

th{
  text-align: center;
  color: white;
}

td{
  /*text-align: center;*/
}

.fa-trash{
  color: #898986;
  margin-left: 80%;
  cursor: pointer;
  width:3%;
  margin-top:-0.6%;
  margin-left: 1%;
}


.fa-pencil{
  color: #898986;
  margin-left: 80%;
  cursor: pointer;
  width:3%;
  margin-top:-0.6%;
  margin-left: 2%;
}

th[class="ques"]{
  width: 1%;
  color: white;
  text-align: start;
}

.del{
  width: 1%;
}

.edit{
  width: 1%;
}


.modal_approve{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_approve{

  background: rgba(0,0,0,0.7  );
  width: 140%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main_approve{

  position: fixed;
  width: 70%;
  height: 30%;
  top: 30%;
  left: 32%;
  z-index: 2;
}

.mc{
  margin-left: 10%;
  color: lightgrey;
}

.head_approve{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_approve{
  height: 100%;
  width: 40%;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

.closer_approve{
  position: absolute;
  top: -2.5%;
  margin-left: 38%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}



.btn-blue{
  background-color: dodgerblue;
  color: lightgrey;
  margin-left: 35%;
  margin-top:3%;
}

.btn-red{
  background-color: #cb2027;
  width:15%;
  color: lightgrey;
  margin-top:3%;
}

.do{
  color: lightgrey;
  margin-top: 5%;
  margin-left: 14%;
}


h3{
  color: lightgrey;
  margin-top: 4%;
  margin-left: 25%;
}

button[id="approve"]{
  width:30%;
  margin-left:30%;

}


.modal_edit{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_edit{

  background: rgba(0,0,0,0.7  );
  width: 140%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main_edit{

  position: fixed;
  width: 70%;
  height: 30%;
  top: 30%;
  left: 32%;
  z-index: 2;
}

.mc{
  margin-left: 10%;
  color: lightgrey;
}

.head_edit{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_edit{
  height: 100%;
  width: 40%;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

.closer_edit{
  position: absolute;
  top: -2.5%;
  margin-left: 38%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}

.editted{
  margin-top:3%;
  width: 10%;
  /*margin-left: -10.6%;*/
}


modal_update{
  margin-left:20%;
  background: rgba(000000000, 0000000000, 000000,0.5);
  width: 150%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_update{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_update{
  position: fixed;
  width: 50%;
  height:63%;
  top: 20%;
  left: 360px;
  z-index: 2;
}

.head_update{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_update{
  /*background:transparent;*/
  height: 63%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_update{
  margin-left: 35%;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}

.edit_inner{
  width: 80%;
  height: 40%;
  margin-left:9%;
  background-color: #060606;
}


.closer_update{
  position: absolute;
  top: 2%;
  margin-left: 68%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}
