.tds{
  margin-left:-45%;
}

h1{
margin-left: 3%;
  font-size: 50px;
 font-family: "Times New Roman";
  color: lightgrey;

}

h3{
  color:lightgrey;
  margin-left: 3%;
}

h2{
  text-transform: uppercase
;
}
div.main{
  background-image: url("/src/app/iamges/b.jpg");
  height: 662px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top:-2%;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.9);
  /*background-repeat: no-repeat;*/
}

.login-html{
  width:100%;
  height:662px;
  /*padding:420px 70px 50px 70px;*/

  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background: rgba(000000000, 0000000000, 000000,0.7);

}

.mycontent{
  margin-left: 10%;
  background-color: red;
  width:280%;
  margin-top:20%;
  height: 40%;
}

.btn-warning{
  margin-left: 35px;
  width:50%;
}

button[id = "post"]{
  margin-top:2%;
}

.pricing {
  position: relative;
  margin-bottom: 15px;
  border: 3px solid black;
}

.pricing-active {
  border: 3px solid black;
  margin-top: -10px;
  box-shadow: 10px 7px rgba(0, 0, 0, 1);
}

.pricing:hover {
  border: 3px solid darkred;
}

.pricing:hover h4 {
  color: darkred;
}

.pricing-head {
  text-align: center;
}

.pricing-head h3,
.pricing-head h4 {
  margin: 0;
  line-height: normal;
}

.pricing-head h3 span,
.pricing-head h4 span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}

.pricing-head h3 {
  font-weight: 300;
  color: #fafafa;
  padding: 12px 0;
  font-size: 27px;
  background: black;
  border-bottom: solid 1px black;
}

.pricing-head h4 {
  color: black;
  padding: 5px 0;
  font-size: 54px;
  font-weight: 300;
  background: lightgrey;
  border-bottom: solid 1px black;
}

.pricing-head-active h4 {
  color: darkgray;
}

.pricing-head h4 i {
  top: -8px;
  font-size: 28px;
  font-style: normal;
  position: relative;
}

.pricing-head h4 span {
  top: -10px;
  font-size: 14px;
  font-style: normal;
  position: relative;
}

/*Pricing Footer*/
.pricing-footer {
  color: #777;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  padding: 0 20px 19px;
}

/*Priceing Active*/
.price-active,
.pricing:hover {
  z-index: 9;
}

.price-active h4 {
  color: #36d7ac;
}

.no-space-pricing .pricing:hover {
  transition: box-shadow 0.2s ease-in-out;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
  color: #36d7ac;
  padding: 15px 0;
  font-size: 80px;
  transition: color 0.5s ease-in-out;
}

.yellow-crusta.btn {
  color: lightgrey;
  background-color: #f3c200;
}
.yellow-crusta.btn:hover,
.yellow-crusta.btn:focus,
.yellow-crusta.btn:active,
.yellow-crusta.btn.active {
  color: #FFFFFF;
  background-color: #cfa500;
}


.modal_faculty{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 20%;
}

.modal_bg_faculty{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.btn-warning{
  width: 50%;
  margin-left:25%;
  margin-top:5%;
}


.modal_main_faculty{
  position: fixed;
  width: 50%;
  height:70%;
  top: 40%;
  left: 360px;
  z-index: 2;
}


.head_faculty{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_faculty{
  height: 40%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_faculty{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}


.btn-danger{
  /*margin-left: 25%;*/
}


p.view_para{
  color: lightgrey;
  font-family: "Times New Roman";
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: -1%;
}


.bell{
  height: 0%;
  margin-left: 85%;
  cursor: pointer;
  width: 45%;
  margin-top:-8%;
}


.fa-bell{
  color: lightgrey;
}

.mytable{
  margin-top: 8%;
}
