<app-header></app-header>
<app-instruct-leftpane></app-instruct-leftpane>
<div class = "main">
  <div class = "login-html">
<h1>Welcome {{this.firstname}}...To Oxford Academy</h1>
<h3>Viewing Your Classes,Sections And Subjects</h3>


    <div class = "container bell">
          <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x icon-background4"></i>
          <i class="fa fa-bell fa-stack-1x" (click)="alerts()"></i>
          </span>
    </div>



    <table class = "mytable">
 <tr>
 <td *ngFor = "let v of array">
  <div class="mycontent">
    <div class="col-md-3">
      <div class="pricing hover-effect">
        <div class="pricing-head">
          <h3>{{v.subjectname}}</h3>
          <h4>{{v.classname}}-{{v.sectionname}}</h4>
        </div>
        <div class="pricing-footer">
          <p>
            Choose The Following Action
          </p>
          <button type="submit" (click) = "results(v)" class="btn btn-danger">Result</button>
          <button type="submit"  class="btn btn-danger" (click) = "setpaper(v)">Set Paper</button>
          <button type = "submit" id = "post" (click) = "post(v)" class = "btn btn-danger">Post Result</button>

        </div>
      </div>
    </div>
    </div>
   </td>
  </tr>
</table>

    <a class="call_modal_faculty" (click) = "Instructor()"></a>
    <div class = "modal_faculty">
      <div class="modal_main_faculty">
        <div class = "inner_faculty">
          <p class = "l_faculty">RESULTS PUBLICATION IS JUST ONE APPROVAL AWAY...THANK YOU</p><hr/>
          <button type = "submit" id = "ok" class = "btn btn-warning" (click)="ok()">OK</button>
        </div>
      </div>
    </div>



  </div>
</div>

<router-outlet></router-outlet>
