header,nav
{
  display: block;
}

nav, footer
{
  clear: both;
  color: #ffffff;
  background-color: black;
  height: 50px;
}

a{
  color: lightgrey;
  letter-spacing: 3px;
  margin-left: 40%;
  margin-top: 5%;
}

