<h2>VIEW RESULTS</h2>

<div class="container mytable">
  <div class="row">
    <div class="col-xs-10">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <caption class="text-center">Click On View To View Results Of the Respective Class</caption>
          <thead>
          <tr class = "firstrow">
            <th>CLASS</th>
            <th>SECTION</th>
            <th>SUBJECT</th>
            <th>VIEW RESULTS</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let v of array">
            <td>{{v.classname}}</td>
            <td>{{v.sectionname}}</td>
            <td>{{v.subjectname}}</td>
            <td><i class="fa fa-eye fa-stack-2x" (click)="see(v)"></i></td>
          </tr>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
