<!--nav sidebar -->
<script src="leftpane.component.ts"></script>
<aside>
  <nav class="navbar navbar-inverse sidebar navbar-fixed-top" role="navigation">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="nav-side-menu">
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

      <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">

          <li>
            <a href="http://localhost:4200/admindb">
              <i class="fa fa-user fa-lg"></i> Admin
            </a>
          </li>


          <li data-toggle="collapse" data-target="#service" class="collapsed">
           <a><i class="fa fa-plus fa-lg"></i >Add Users<span></span></a>
            <ul id = "collapse-menu">

          <li data-toggle="collapse" data-target="#service" class="user-collapsed">
            <a [routerLink] = "['/admindb/adminca/instructor']"><i class="fa fa-plus fa-lg"></i > Add teacher</a>
            <router-outlet></router-outlet>
          </li>


              <li data-toggle="collapse" data-target="#service" class="user-collapsed">
                <a  [routerLink] = "['/admindb/adminca/student']"><i class="fa fa-plus fa-lg"></i> Add Student </a>
              </li>

              <li data-toggle="collapse" data-target="#service" class="user-collapsed">
                <a  [routerLink] = "['/admindb/adminca/staff']"><i class="fa fa-plus fa-lg"></i> Add Staff </a>
              </li>


              <li data-toggle="collapse" data-target="#service" class="user-collapsed">
                <a [routerLink] = "['/admindb/adminca/viewstd']"><i class="fa fa-users"></i>Manage Student </a>
              </li>

              <li data-toggle="collapse" data-target="#service" class="user-collapsed">
                <a [routerLink] = "['/admindb/adminca/viewstaff']"><i class="fa fa-users"></i>Manage Staff </a>
              </li>

              <li data-toggle="collapse" data-target="#service" class="user-collapsed">
                <a [routerLink] = "['/admindb/adminca/adminpost']"><i class="fa fa-users"></i>Assign Admin's Post</a>
              </li>


              <li data-toggle="collapse" data-target="#service" class="user-collapsed">
                <a [routerLink] = "['/admindb/adminca/viewteacher']"><i class="fa fa-users" ></i >Manage Teacher</a>
                <router-outlet></router-outlet>
              </li>


            </ul>
          </li>



          <li data-toggle="collapse" data-target="#service" class="collapsed">
            <a (click)="Course()"><i class="fa fa-book fa-lg"></i>Course<span></span></a>

            <ul id = "collapse-course">

              <li data-toggle="collapse" data-target="#service" name="coursecollapsed">
                <a [routerLink] = "['/admindb/adminca/assigncourse']"><i class="fa fa-plus fa-lg"></i > Add Course</a>
                <router-outlet></router-outlet>
              </li>

              <li data-toggle="collapse" data-target="#service" name="coursecollapsed">
                <a [routerLink] = "['/admindb/adminca/addcourse']"><i class="fa fa-plus fa-lg"></i >Assign Course To Classes</a>
                <router-outlet></router-outlet>
              </li>

              <li data-toggle="collapse" data-target="#service" name="coursecollapsed">
                <a [routerLink] = "['/admindb/adminca/managecourse']"><i class="fa fa-pencil-square-o"></i>Manage Course</a>

              <li data-toggle="collapse" data-target="#service" name="coursecollapsed">
                <a [routerLink] = "['/admindb/adminca/specifycourses']"><i class="fa fa-user-secret"></i>Specify Courses To Teachers</a>
              </li>

            </ul>
          </li>


          <li data-toggle="collapse" data-target="#service" class="couresecollapsed">
            <a (click)="Course()"><i class="fa fa fa-university fa-lg"></i>Class<span></span></a>



            <ul id = "collapse-class">
            <li data-toggle="collapse" data-target="#service" name="coursecollapsed">
                <a [routerLink] = "['/admindb/adminca/addclass']"><i class="fa fa-plus fa-lg"></i > Add Class</a>
                <router-outlet></router-outlet>
              </li>

              <li data-toggle="collapse" data-target="#service" name="coursecollapsed">
                <a [routerLink] = "['/admindb/adminca/editclass']"><i class="fa fa-pencil fa-lg"></i > Edit Class</a>
                <router-outlet></router-outlet>
              </li>


              <li data-toggle="collapse" data-target="#service" class="user-collapsed">
                <a [routerLink] = "['/admindb/adminca/assignclasstoteacher']"><i class="fa fa-pencil" ></i >Assign Class To Teacher</a>
                <router-outlet></router-outlet>
              </li>


              <li data-toggle="collapse" data-target="#service" name="coursecollapsed">
              <a [routerLink] = "['/admindb/adminca/classwall']"><i class="fa fa-street-view"></i>Class Wall</a>
              </li>
            </ul>



          <li data-toggle="collapse" data-target="#service" class="couresecollapsed">
            <a (click)="Course()"><i class="fa fa fa-money fa-lg"></i>Fees<span></span></a>

          <ul id = "collapse-fees">
          <li data-toggle="collapse" data-target="#service" id='coursecollapsed'>
            <a [routerLink] = "['/admindb/adminca/managefees']"><i class="fa fa-money"></i>Manage Fees<span></span></a>
            </li>

            <li data-toggle="collapse" data-target="#service" name="coursecollapsed">
              <a [routerLink] = "['/admindb/adminca/defaulter']"><i class="fa fa-bullhorn fa-lg"></i >Defaulter</a>
              <router-outlet></router-outlet>
            </li>
          </ul>



            <li data-toggle="collapse" data-target="#service" class="couresecollapsed">
            <a (click)="Course()"><i class="fa fa fa-newspaper-o fa-lg"></i>Exam<span></span></a>


            <ul id = "collapse-exam">

              <li data-toggle="collapse" data-target="#service" name="coursecollapsed">
                <a [routerLink] = "['/admindb/adminca/invigilator']"><i class="fa fa-user-secret fa-lg"></i>Invigilator</a>
                <router-outlet></router-outlet>
              </li>

              <!--<li data-toggle="collapse" data-target="#service" name="coursecollapsed">-->
              <!--<a [routerLink] = "['/admindb/adminca/editclass']"><i class="fa fa-pencil fa-lg"></i > Edit Class</a>-->
              <!--<router-outlet></router-outlet>-->
              <!--</li>-->

              <!--<li data-toggle="collapse" data-target="#service" name="coursecollapsed">-->
              <!--<a [routerLink] = "['/admindb/adminca/classwall']"><i class="fa fa-street-view"></i>Class Wall</a>-->
              <!--</li>-->

            </ul>
          </li>


          <li data-toggle="collapse" data-target="#service" name="coursecollapsed">
            <a [routerLink] = "['/admindb/adminca/announcements']"><i class="fa fa-bullhorn fa-lg"></i>Announcements</a>
            <router-outlet></router-outlet></li>

          <li data-toggle="collapse" data-target="#service" class="coursecollapsed">
           <i class="fa fa-power-off fa-lg" (click) = "logout()"></i>Logout
          </li>

         </ul>
      </div>
    </div>
  </nav>

</aside>

<div class="main">
</div>
<script>
  function htmlbodyHeightUpdate(){
    var height3 = $( window ).height()
    var height1 = $('.nav').height()+50
    height2 = $('.main').height()
    if(height2 > height3){
      $('html').height(Math.max(height1,height3,height2)+10);
      $('body').height(Math.max(height1,height3,height2)+10);
    }
    else
    {
      $('html').height(Math.max(height1,height3,height2));
      $('body').height(Math.max(height1,height3,height2));
    }

  }
  $(document).ready(function () {
    htmlbodyHeightUpdate()
    $( window ).resize(function() {
      htmlbodyHeightUpdate()
    });
    $( window ).scroll(function() {
      height2 = $('.main').height()
      htmlbodyHeightUpdate()
    });
  });
</script>

