  <div class="container">
  <h2>RESULT SHEET</h2>
    <h3>CLASS: {{this.classname}} | SECTION: {{this.sectionname}} | SUBJECT: {{this.subjectname}}</h3>
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="tab_logic">
        <thead>
        <tr>
          <th class="text-center">
            FIRST NAME
          </th>
          <th class="text-center">
            LAST NAME
          </th>
          <th class="text-center">
            MARKS OBTAINED
          </th>
          <th class="text-center">
            TOTAL MARKS
          </th>
          <th class="text-center">
            GRADE
          </th>

        </tr>
        </thead>

        <tr *ngFor = "let v of array; let i = index">
          <td>{{v.firstname}}</td>
          <td>{{v.lastname}}</td>
          <td><input type = "text" id = "marks" name = "marks" [(ngModel)]="v.marks" required = required placeholder="Enter Marks" (change)="validateMarks(v.marks)"></td>
          <td><i class = "fa fa-plus" (click) = "addres(v)"></i></td>
        </tr>
      </table>




      <a class="call_modal_invalid" (click) = "Instructor()"></a>
      <div class = "modal_invalid">
        <div class="modal_main_invalid">
          <div class = "inner_invalid">
            <p class = "l_invalid">ALERT: SORRY...INVALID RECORD!</p><hr/>
            <button type = "submit"class = "btn btn-warning" (click)="cancel()">OK</button>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
