
.btn-warning{
  width: 50%;
  margin-left:25%;
  margin-top:5%;
}


.btn-danger{
  margin-left: 25%;
}

button[id="ok"]{
  margin-left:25%;
  width: 50%;
}

.modal_invalid{
  margin-left:-20%;
  background: rgba(000000000, 0000000000, 000000,0.5);
  width: 150%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_invalid{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_invalid{
  position: fixed;
  width: 50%;
  height:43%;
  top: 40%;
  left: 360px;
  z-index: 2;
}

.head_invalid{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_invalid{
  /*background:transparent;*/
  height: 63%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_invalid{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}


.modal_marks{
  margin-left:-20%;
  background: rgba(000000000, 0000000000, 000000,0.5);
  width: 150%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_marks{
  background: rgba(0,0,0,0.7  );
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
}

.modal_main_marks{
  position: fixed;
  width: 50%;
  height:43%;
  top: 40%;
  left: 360px;
  z-index: 2;
}

.head_marks{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 4px;
  font-family: "Times New Roman";
  margin-top: 5px;
}


div.inner_marks{
  /*background:transparent;*/
  height: 63%;
  width: 500px;
  margin-left: 85px;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

p.l_marks{
  margin-left: 20px;
  margin-top: 10px;
  color: darkgrey;
  font-family: "Times New Roman";
  font-size: 20px;
  letter-spacing: 2px;
}

table[id = "tab_logic"]{
  margin-top: 4%;
}

th {
  width: 10%;
  color: black;
}

.fa-plus{
  margin-left: 45%;
  cursor:pointer;
}

.fa-trash{
  margin-left: 45%;
}

td[id='num']{
  margin-left: 45%;
}


button[id = "publish"]{
  width: 15%;
  margin-left: 84%;
}


.well {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  padding-left: 15px;
  border:0px;
}
.thumbnail .caption {
  padding: 9px;
  color: #333;
  padding-left: 0px;
  padding-right: 0px;
}
.icon-style
{
  margin-right:15px;
  font-size:18px;
  margin-top:20px;
}
p
{
  margin:3px;
}
.well-add-card
{
  margin-bottom:10px;
}
.btn-add-card
{
  margin-top:20px;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 6px solid #D9D9D9;
  border-radius: 15px;
  /*-webkit-transition: border .2s ease-in-out;*/
  /*-o-transition: border .2s ease-in-out;*/
  /*transition: border .2s ease-in-out;*/
  padding-left: 0px;
  padding-right: 0px;
}


.modal_delete{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_bg_delete{

  background: rgba(0,0,0,0.7  );
  width: 140%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal_main_delete{

  position: fixed;
  width: 70%;
  height: 30%;
  top: 30%;
  left: 32%;
  z-index: 2;
}

.mc{
  margin-left: 10%;
  color: lightgrey;
}

.head_delete{
  color: darkslategrey;
  font-size: 30px;
  margin-left: 2%;
  font-family: "Times New Roman";
  /*margin-top: 5%;*/
}


div.inner_delete{
  height: 100%;
  width: 40%;
  border-style: solid;
  background: rgba(000000000, 0000000000, 000000,0.9);
}

.closer_delete{
  position: absolute;
  top: -2.5%;
  margin-left: 38%;
  cursor:pointer;
  height: 24px;
  width: 24px;
}

.btn-blue{
  background-color: dodgerblue;
  color: lightgrey;
  margin-left: 35%;
  margin-top:3%;
}

.btn-red{
  background-color: #cb2027;
  width:15%;
  color: lightgrey;
  margin-top:3%;
}
