<div class = "main">
  <div class = "login-html">

    <a class="call_modal_faculty" (click) = "Instructor()"></a>
    <div class = "modal_faculty">
      <div class="modal_main_faculty">
        <div class = "inner_faculty">
          <img src="/src/app/iamges/close.png" class="closer_faculty">

          <p class = "l">ASSIGN COURSES TO CLASSES...</p><hr/>

          <form id = "regForm">
            <table>

              <tr>
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input) = "validatecoursename()" [(ngModel)] = "addcourse.coursename"  pattern="[a-z A-Z]*" placeholder="Enter Course Name" name = "coursename" required= required id = "coursename">
                  </div>
                </td>
                <td>
                  <div *ngIf="coursenameinvalid" class = "glyphicon glyphicon-remove"></div>
                  <div *ngIf="coursenamevalid" class = "glyphicon glyphicon-ok"></div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class = "form-group">
                    <input type = "text" class = "form-control" (input)="validateclassname()" [(ngModel)]="addcourse.classname" pattern="[0-9]*" placeholder="Enter Class" name = "classname" required = required id = "classname">
                  </div>
                </td>
                <td>
                  <div *ngIf="classnameinvalid" class = "glyphicon glyphicon-remove"></div>
                  <div *ngIf="classnamevalid" class = "glyphicon glyphicon-ok"></div>
                </td>
              </tr>

              <tr>
                <td class = "form-group">
                  <div *ngIf ="success" class = "errormsg">INVALID ENTRY</div>

                  <button type = "submit" class = "form-control" id = "reg" (click) ="addCourse(); clear()">Add Course</button>
                </td>
              </tr>


            </table>

            <div class = "modal">
              <div class="modal_bg close"></div>
              <div class="modal_main">
                <div class = "inner">
                  <img src="/src/app/iamges/close.png" class="closer">
                  <h1>Course Added Successfully!</h1>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


